---
swagger: "2.0"
info:
  description: "An OpenAPI for EVE Online"
  version: "0.8.4"
  title: "EVE Swagger Interface"
host: "esi.evetech.net"
basePath: "/v2"
schemes:
- "https"
consumes:
- "application/json"
produces:
- "application/json"
paths:
  /alliances/{alliance_id}/:
    get:
      tags:
      - "Alliance"
      summary: "Get alliance information"
      description: "Public information about an alliance\n\n---\nAlternate route:\
        \ `/legacy/alliances/{alliance_id}/`\n\n---\nThis route is cached for up to\
        \ 3600 seconds\n\n---\nWarning: This route is deprecated.\n\n---\n[Diff of\
        \ the upcoming changes](https://esi.evetech.net/diff/v2/dev/#GET-/alliances/{alliance_id}/)"
      operationId: "get_alliances_alliance_id"
      parameters:
      - name: "alliance_id"
        in: "path"
        description: "An EVE alliance ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "AllianceId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        - "singularity"
        x-exportParamName: "Datasource"
      - name: "If-None-Match"
        in: "header"
        description: "ETag from a previous request. A 304 will be returned if this\
          \ matches the current ETag"
        required: false
        type: "string"
        x-exportParamName: "IfNoneMatch"
      responses:
        200:
          description: "Public data about an alliance"
          schema:
            $ref: "#/definitions/get_alliances_alliance_id_ok"
          examples:
            application/json:
              alliance_name: "C C P Alliance"
              date_founded: "2016-06-26T21:00:00Z"
              executor_corp: 98356193
              ticker: "<C C P>"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        304:
          description: "Not modified"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        404:
          description: "Alliance not found"
          schema:
            $ref: "#/definitions/get_alliances_alliance_id_not_found"
          examples:
            application/json:
              error: "Alliance not found"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      deprecated: true
      x-alternate-versions:
      - "legacy"
      x-cached-seconds: 3600
  /alliances/{alliance_id}/contacts/:
    get:
      tags:
      - "Contacts"
      summary: "Get alliance contacts"
      description: "Return contacts of an alliance\n\n---\nAlternate route: `/dev/alliances/{alliance_id}/contacts/`\n\
        \nAlternate route: `/latest/alliances/{alliance_id}/contacts/`\n\n---\nThis\
        \ route is cached for up to 300 seconds"
      operationId: "get_alliances_alliance_id_contacts"
      parameters:
      - name: "alliance_id"
        in: "path"
        description: "An EVE alliance ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "AllianceId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        - "singularity"
        x-exportParamName: "Datasource"
      - name: "If-None-Match"
        in: "header"
        description: "ETag from a previous request. A 304 will be returned if this\
          \ matches the current ETag"
        required: false
        type: "string"
        x-exportParamName: "IfNoneMatch"
      - name: "page"
        in: "query"
        description: "Which page of results to return"
        required: false
        type: "integer"
        default: 1
        minimum: 1
        format: "int32"
        x-exportParamName: "Page"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
      responses:
        200:
          description: "A list of contacts"
          schema:
            type: "array"
            description: "200 ok array"
            title: "get_alliances_alliance_id_contacts_ok"
            items:
              $ref: "#/definitions/get_alliances_alliance_id_contacts_200_ok"
            maxItems: 1000
          examples:
            application/json:
            - contact_id: 2112625428
              contact_type: "character"
              standing: 9.9
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
            X-Pages:
              type: "integer"
              format: "int32"
              description: "Maximum page number"
              default: 1
        304:
          description: "Not modified"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/unauthorized"
          examples:
            application/json:
              error: "Unauthorized message"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/forbidden"
          examples:
            application/json:
              error: "Forbidden message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      security:
      - evesso:
        - "esi-alliances.read_contacts.v1"
      x-alternate-versions:
      - "dev"
      - "latest"
      x-cached-seconds: 300
  /characters/{character_id}/assets/:
    get:
      tags:
      - "Assets"
      summary: "Get character assets"
      description: "Return a list of the characters assets\n\n---\nAlternate route:\
        \ `/legacy/characters/{character_id}/assets/`\n\n---\nThis route is cached\
        \ for up to 3600 seconds\n\n---\nWarning: This route is deprecated.\n\n---\n\
        [Diff of the upcoming changes](https://esi.evetech.net/diff/v2/dev/#GET-/characters/{character_id}/assets/)"
      operationId: "get_characters_character_id_assets"
      parameters:
      - name: "character_id"
        in: "path"
        description: "An EVE character ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CharacterId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        - "singularity"
        x-exportParamName: "Datasource"
      - name: "If-None-Match"
        in: "header"
        description: "ETag from a previous request. A 304 will be returned if this\
          \ matches the current ETag"
        required: false
        type: "string"
        x-exportParamName: "IfNoneMatch"
      - name: "page"
        in: "query"
        description: "Which page of results to return"
        required: false
        type: "integer"
        default: 1
        minimum: 1
        format: "int32"
        x-exportParamName: "Page"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
      responses:
        200:
          description: "A flat list of the users assets"
          schema:
            type: "array"
            description: "200 ok array"
            title: "get_characters_character_id_assets_ok"
            items:
              $ref: "#/definitions/get_characters_character_id_assets_200_ok"
            maxItems: 5000
          examples:
            application/json:
            - is_singleton: true
              item_id: 1000000016835
              location_flag: "Hangar"
              location_id: 60002959
              location_type: "station"
              type_id: 3516
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
            X-Pages:
              type: "integer"
              format: "int32"
              description: "Maximum page number"
              default: 1
        304:
          description: "Not modified"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/unauthorized"
          examples:
            application/json:
              error: "Unauthorized message"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/forbidden"
          examples:
            application/json:
              error: "Forbidden message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      security:
      - evesso:
        - "esi-assets.read_assets.v1"
      deprecated: true
      x-alternate-versions:
      - "legacy"
      x-cached-seconds: 3600
  /characters/{character_id}/assets/locations/:
    post:
      tags:
      - "Assets"
      summary: "Get character asset locations"
      description: "Return locations for a set of item ids, which you can get from\
        \ character assets endpoint. Coordinates for items in hangars or stations\
        \ are set to (0,0,0)\n\n---\nAlternate route: `/dev/characters/{character_id}/assets/locations/`\n\
        \nAlternate route: `/latest/characters/{character_id}/assets/locations/`\n"
      operationId: "post_characters_character_id_assets_locations"
      parameters:
      - name: "character_id"
        in: "path"
        description: "An EVE character ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CharacterId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        - "singularity"
        x-exportParamName: "Datasource"
      - in: "body"
        name: "item_ids"
        description: "A list of item ids"
        required: true
        schema:
          title: "post_characters_character_id_assets_locations_item_ids"
          type: "array"
          description: "item_ids array"
          items:
            type: "integer"
            format: "int64"
            description: "item_id integer"
            title: "post_characters_character_id_assets_locations_item_id"
        x-exportParamName: "ItemIds"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
      responses:
        200:
          description: "List of asset locations"
          schema:
            type: "array"
            description: "200 ok array"
            title: "post_characters_character_id_assets_locations_ok"
            items:
              $ref: "#/definitions/post_characters_character_id_assets_locations_200_ok"
            maxItems: 1000
          examples:
            application/json:
            - item_id: 12345
              position:
                x: 1.2
                y: 2.3
                z: -3.4
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/unauthorized"
          examples:
            application/json:
              error: "Unauthorized message"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/forbidden"
          examples:
            application/json:
              error: "Forbidden message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      security:
      - evesso:
        - "esi-assets.read_assets.v1"
      x-alternate-versions:
      - "dev"
      - "latest"
  /characters/{character_id}/blueprints/:
    get:
      tags:
      - "Character"
      summary: "Get blueprints"
      description: "Return a list of blueprints the character owns\n\n---\nAlternate\
        \ route: `/dev/characters/{character_id}/blueprints/`\n\nAlternate route:\
        \ `/latest/characters/{character_id}/blueprints/`\n\n---\nThis route is cached\
        \ for up to 3600 seconds"
      operationId: "get_characters_character_id_blueprints"
      parameters:
      - name: "character_id"
        in: "path"
        description: "An EVE character ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CharacterId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        - "singularity"
        x-exportParamName: "Datasource"
      - name: "If-None-Match"
        in: "header"
        description: "ETag from a previous request. A 304 will be returned if this\
          \ matches the current ETag"
        required: false
        type: "string"
        x-exportParamName: "IfNoneMatch"
      - name: "page"
        in: "query"
        description: "Which page of results to return"
        required: false
        type: "integer"
        default: 1
        minimum: 1
        format: "int32"
        x-exportParamName: "Page"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
      responses:
        200:
          description: "A list of blueprints"
          schema:
            type: "array"
            description: "200 ok array"
            title: "get_characters_character_id_blueprints_ok"
            items:
              $ref: "#/definitions/get_characters_character_id_blueprints_200_ok"
            maxItems: 1000
          examples:
            application/json:
            - item_id: 1000000010495
              location_flag: "Hangar"
              location_id: 60014719
              material_efficiency: 0
              quantity: 1
              runs: -1
              time_efficiency: 0
              type_id: 691
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
            X-Pages:
              type: "integer"
              format: "int32"
              description: "Maximum page number"
              default: 1
        304:
          description: "Not modified"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/unauthorized"
          examples:
            application/json:
              error: "Unauthorized message"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/forbidden"
          examples:
            application/json:
              error: "Forbidden message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      security:
      - evesso:
        - "esi-characters.read_blueprints.v1"
      x-alternate-versions:
      - "dev"
      - "latest"
      x-cached-seconds: 3600
  /characters/{character_id}/bookmarks/:
    get:
      tags:
      - "Bookmarks"
      summary: "List bookmarks"
      description: "A list of your character's personal bookmarks\n\n---\nAlternate\
        \ route: `/dev/characters/{character_id}/bookmarks/`\n\nAlternate route: `/latest/characters/{character_id}/bookmarks/`\n\
        \n---\nThis route is cached for up to 3600 seconds"
      operationId: "get_characters_character_id_bookmarks"
      parameters:
      - name: "character_id"
        in: "path"
        description: "An EVE character ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CharacterId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        - "singularity"
        x-exportParamName: "Datasource"
      - name: "If-None-Match"
        in: "header"
        description: "ETag from a previous request. A 304 will be returned if this\
          \ matches the current ETag"
        required: false
        type: "string"
        x-exportParamName: "IfNoneMatch"
      - name: "page"
        in: "query"
        description: "Which page of results to return"
        required: false
        type: "integer"
        default: 1
        minimum: 1
        format: "int32"
        x-exportParamName: "Page"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
      responses:
        200:
          description: "A list of bookmarks"
          schema:
            type: "array"
            description: "200 ok array"
            title: "get_characters_character_id_bookmarks_ok"
            items:
              $ref: "#/definitions/get_characters_character_id_bookmarks_200_ok"
            maxItems: 1000
          examples:
            application/json:
            - bookmark_id: 4
              created: "2016-08-09T11:57:47Z"
              creator_id: 2112625428
              folder_id: 5
              item:
                item_id: 50006722
                type_id: 29633
              label: "Stargate"
              location_id: 30003430
              notes: "This is a stargate"
            - bookmark_id: 5
              coordinates:
                x: -2958928814000
                y: -338367275823
                z: 2114538075090
              created: "2016-08-09T11:57:47Z"
              creator_id: 2112625428
              folder_id: 5
              label: "Random location"
              location_id: 30003430
              notes: "This is a random location in space"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
            X-Pages:
              type: "integer"
              format: "int32"
              description: "Maximum page number"
              default: 1
        304:
          description: "Not modified"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/unauthorized"
          examples:
            application/json:
              error: "Unauthorized message"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/forbidden"
          examples:
            application/json:
              error: "Forbidden message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      security:
      - evesso:
        - "esi-bookmarks.read_character_bookmarks.v1"
      x-alternate-versions:
      - "dev"
      - "latest"
      x-cached-seconds: 3600
  /characters/{character_id}/bookmarks/folders/:
    get:
      tags:
      - "Bookmarks"
      summary: "List bookmark folders"
      description: "A list of your character's personal bookmark folders\n\n---\n\
        Alternate route: `/dev/characters/{character_id}/bookmarks/folders/`\n\nAlternate\
        \ route: `/latest/characters/{character_id}/bookmarks/folders/`\n\n---\nThis\
        \ route is cached for up to 3600 seconds"
      operationId: "get_characters_character_id_bookmarks_folders"
      parameters:
      - name: "character_id"
        in: "path"
        description: "An EVE character ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CharacterId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        - "singularity"
        x-exportParamName: "Datasource"
      - name: "If-None-Match"
        in: "header"
        description: "ETag from a previous request. A 304 will be returned if this\
          \ matches the current ETag"
        required: false
        type: "string"
        x-exportParamName: "IfNoneMatch"
      - name: "page"
        in: "query"
        description: "Which page of results to return"
        required: false
        type: "integer"
        default: 1
        minimum: 1
        format: "int32"
        x-exportParamName: "Page"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
      responses:
        200:
          description: "List of bookmark folders"
          schema:
            type: "array"
            description: "200 ok array"
            title: "get_characters_character_id_bookmarks_folders_ok"
            items:
              $ref: "#/definitions/get_characters_character_id_bookmarks_folders_200_ok"
            maxItems: 1000
          examples:
            application/json:
            - folder_id: 5
              name: "Icecream"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
            X-Pages:
              type: "integer"
              format: "int32"
              description: "Maximum page number"
              default: 1
        304:
          description: "Not modified"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/unauthorized"
          examples:
            application/json:
              error: "Unauthorized message"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/forbidden"
          examples:
            application/json:
              error: "Forbidden message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      security:
      - evesso:
        - "esi-bookmarks.read_character_bookmarks.v1"
      x-alternate-versions:
      - "dev"
      - "latest"
      x-cached-seconds: 3600
  /characters/{character_id}/calendar/{event_id}/:
    get:
      tags:
      - "Calendar"
      summary: "Get an event"
      description: "Get all the information for a specific event\n\n---\nAlternate\
        \ route: `/legacy/characters/{character_id}/calendar/{event_id}/`\n\n---\n\
        This route is cached for up to 5 seconds\n\n---\nWarning: This route is deprecated.\n\
        \n---\n[Diff of the upcoming changes](https://esi.evetech.net/diff/v2/dev/#GET-/characters/{character_id}/calendar/{event_id}/)"
      operationId: "get_characters_character_id_calendar_event_id"
      parameters:
      - name: "character_id"
        in: "path"
        description: "An EVE character ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CharacterId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        - "singularity"
        x-exportParamName: "Datasource"
      - name: "event_id"
        in: "path"
        description: "The id of the event requested"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "EventId"
      - name: "If-None-Match"
        in: "header"
        description: "ETag from a previous request. A 304 will be returned if this\
          \ matches the current ETag"
        required: false
        type: "string"
        x-exportParamName: "IfNoneMatch"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
      responses:
        200:
          description: "Full details of a specific event"
          schema:
            $ref: "#/definitions/get_characters_character_id_calendar_event_id_ok"
          examples:
            application/json:
              duration_in_minutes: 60
              event_date: "2016-06-26T21:00:00Z"
              event_id: 1386435
              event_response: "Undecided"
              event_text: "o7: The EVE Online Show features latest developer news,\
                \ fast paced action, community overviews and a lot more with CCP Guard\
                \ and CCP Mimic. Join the thrilling o7 live broadcast at 20:00 EVE\
                \ time (=UTC) on <a href=\"http://www.twitch.tv/ccp\">EVE TV</a>.\
                \ Don't miss it!"
              importance: 1
              owner_id: 1
              owner_name: "EVE System"
              owner_type_id: 0
              title: "o7 The EVE Online Show"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        304:
          description: "Not modified"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/unauthorized"
          examples:
            application/json:
              error: "Unauthorized message"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/forbidden"
          examples:
            application/json:
              error: "Forbidden message"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/get_characters_character_id_calendar_event_id_not_found"
          examples:
            application/json:
              error: "Not found message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      security:
      - evesso:
        - "esi-calendar.read_calendar_events.v1"
      deprecated: true
      x-alternate-versions:
      - "legacy"
      x-cached-seconds: 5
    put:
      tags:
      - "Calendar"
      summary: "Respond to an event"
      description: "Set your response status to an event\n\n---\nAlternate route:\
        \ `/legacy/characters/{character_id}/calendar/{event_id}/`\n\n\n---\nWarning:\
        \ This route is deprecated.\n\n---\n[Diff of the upcoming changes](https://esi.evetech.net/diff/v2/dev/#PUT-/characters/{character_id}/calendar/{event_id}/)"
      operationId: "put_characters_character_id_calendar_event_id"
      parameters:
      - name: "character_id"
        in: "path"
        description: "An EVE character ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CharacterId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        - "singularity"
        x-exportParamName: "Datasource"
      - name: "event_id"
        in: "path"
        description: "The ID of the event requested"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "EventId"
      - name: "response"
        in: "query"
        description: "The response value to set, overriding current value."
        required: true
        type: "string"
        enum:
        - "accepted"
        - "declined"
        - "tentative"
        x-exportParamName: "Response"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
      responses:
        204:
          description: "Event updated"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/unauthorized"
          examples:
            application/json:
              error: "Unauthorized message"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/forbidden"
          examples:
            application/json:
              error: "Forbidden message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      security:
      - evesso:
        - "esi-calendar.respond_calendar_events.v1"
      deprecated: true
      x-alternate-versions:
      - "legacy"
  /characters/{character_id}/clones/:
    get:
      tags:
      - "Clones"
      summary: "Get clones"
      description: "A list of the character's clones\n\n---\nAlternate route: `/legacy/characters/{character_id}/clones/`\n\
        \n---\nThis route is cached for up to 120 seconds\n\n---\nWarning: This route\
        \ is deprecated.\n\n---\n[Diff of the upcoming changes](https://esi.evetech.net/diff/v2/dev/#GET-/characters/{character_id}/clones/)"
      operationId: "get_characters_character_id_clones"
      parameters:
      - name: "character_id"
        in: "path"
        description: "An EVE character ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CharacterId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        - "singularity"
        x-exportParamName: "Datasource"
      - name: "If-None-Match"
        in: "header"
        description: "ETag from a previous request. A 304 will be returned if this\
          \ matches the current ETag"
        required: false
        type: "string"
        x-exportParamName: "IfNoneMatch"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
      responses:
        200:
          description: "Clone information for the given character"
          schema:
            $ref: "#/definitions/get_characters_character_id_clones_ok"
          examples:
            application/json:
              home_location:
                location_id: 1021348135816
                location_type: "structure"
              jump_clones:
              - implants:
                - 22118
                location_id: 60003463
                location_type: "station"
              - implants: []
                location_id: 1021348135816
                location_type: "structure"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        304:
          description: "Not modified"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/unauthorized"
          examples:
            application/json:
              error: "Unauthorized message"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/forbidden"
          examples:
            application/json:
              error: "Forbidden message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      security:
      - evesso:
        - "esi-clones.read_clones.v1"
      deprecated: true
      x-alternate-versions:
      - "legacy"
      x-cached-seconds: 120
  /characters/{character_id}/contacts/:
    get:
      tags:
      - "Contacts"
      summary: "Get contacts"
      description: "Return contacts of a character\n\n---\nAlternate route: `/dev/characters/{character_id}/contacts/`\n\
        \nAlternate route: `/latest/characters/{character_id}/contacts/`\n\n---\n\
        This route is cached for up to 300 seconds"
      operationId: "get_characters_character_id_contacts"
      parameters:
      - name: "character_id"
        in: "path"
        description: "An EVE character ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CharacterId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        - "singularity"
        x-exportParamName: "Datasource"
      - name: "If-None-Match"
        in: "header"
        description: "ETag from a previous request. A 304 will be returned if this\
          \ matches the current ETag"
        required: false
        type: "string"
        x-exportParamName: "IfNoneMatch"
      - name: "page"
        in: "query"
        description: "Which page of results to return"
        required: false
        type: "integer"
        default: 1
        minimum: 1
        format: "int32"
        x-exportParamName: "Page"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
      responses:
        200:
          description: "A list of contacts"
          schema:
            type: "array"
            description: "200 ok array"
            title: "get_characters_character_id_contacts_ok"
            items:
              $ref: "#/definitions/get_characters_character_id_contacts_200_ok"
            maxItems: 1024
          examples:
            application/json:
            - contact_id: 123
              contact_type: "character"
              is_blocked: true
              is_watched: true
              standing: 9.9
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
            X-Pages:
              type: "integer"
              format: "int32"
              description: "Maximum page number"
              default: 1
        304:
          description: "Not modified"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/unauthorized"
          examples:
            application/json:
              error: "Unauthorized message"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/forbidden"
          examples:
            application/json:
              error: "Forbidden message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      security:
      - evesso:
        - "esi-characters.read_contacts.v1"
      x-alternate-versions:
      - "dev"
      - "latest"
      x-cached-seconds: 300
    post:
      tags:
      - "Contacts"
      summary: "Add contacts"
      description: "Bulk add contacts with same settings\n\n---\nAlternate route:\
        \ `/dev/characters/{character_id}/contacts/`\n\nAlternate route: `/latest/characters/{character_id}/contacts/`\n"
      operationId: "post_characters_character_id_contacts"
      parameters:
      - name: "character_id"
        in: "path"
        description: "An EVE character ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CharacterId"
      - in: "body"
        name: "contact_ids"
        description: "A list of contacts"
        required: true
        schema:
          title: "post_characters_character_id_contacts_contact_ids"
          type: "array"
          description: "contact_ids array"
          items:
            type: "integer"
            format: "int32"
            description: "ID of the contact to edit"
            title: "post_characters_character_id_contacts_contact_id"
        x-exportParamName: "ContactIds"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        - "singularity"
        x-exportParamName: "Datasource"
      - name: "label_ids"
        in: "query"
        description: "Add custom labels to the new contact"
        required: false
        type: "array"
        items:
          type: "integer"
          format: "int64"
        maxItems: 63
        x-exportParamName: "LabelIds"
      - name: "standing"
        in: "query"
        description: "Standing for the contact"
        required: true
        type: "number"
        maximum: 10
        minimum: -10
        format: "float"
        x-exportParamName: "Standing"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
      - name: "watched"
        in: "query"
        description: "Whether the contact should be watched, note this is only effective\
          \ on characters"
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "Watched"
      responses:
        201:
          description: "A list of contact ids that successfully created"
          schema:
            type: "array"
            description: "201 created array"
            title: "post_characters_character_id_contacts_created"
            items:
              type: "integer"
              format: "int32"
              description: "201 created integer"
              title: "post_characters_character_id_contacts_201_created"
            maxItems: 100
          examples:
            application/json:
            - 123
            - 456
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/unauthorized"
          examples:
            application/json:
              error: "Unauthorized message"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/forbidden"
          examples:
            application/json:
              error: "Forbidden message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
        520:
          description: "Internal error thrown from the EVE server."
          schema:
            $ref: "#/definitions/post_characters_character_id_contacts_error_520"
          examples:
            application/json:
              error: "Error 520 message"
      security:
      - evesso:
        - "esi-characters.write_contacts.v1"
      x-alternate-versions:
      - "dev"
      - "latest"
    put:
      tags:
      - "Contacts"
      summary: "Edit contacts"
      description: "Bulk edit contacts with same settings\n\n---\nAlternate route:\
        \ `/dev/characters/{character_id}/contacts/`\n\nAlternate route: `/latest/characters/{character_id}/contacts/`\n"
      operationId: "put_characters_character_id_contacts"
      parameters:
      - name: "character_id"
        in: "path"
        description: "An EVE character ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CharacterId"
      - in: "body"
        name: "contact_ids"
        description: "A list of contacts"
        required: true
        schema:
          title: "put_characters_character_id_contacts_contact_ids"
          type: "array"
          description: "contact_ids array"
          items:
            type: "integer"
            format: "int32"
            description: "ID of the contact to edit"
            title: "put_characters_character_id_contacts_contact_id"
        x-exportParamName: "ContactIds"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        - "singularity"
        x-exportParamName: "Datasource"
      - name: "label_ids"
        in: "query"
        description: "Add custom labels to the contact"
        required: false
        type: "array"
        items:
          type: "integer"
          format: "int64"
        maxItems: 63
        x-exportParamName: "LabelIds"
      - name: "standing"
        in: "query"
        description: "Standing for the contact"
        required: true
        type: "number"
        maximum: 10
        minimum: -10
        format: "float"
        x-exportParamName: "Standing"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
      - name: "watched"
        in: "query"
        description: "Whether the contact should be watched, note this is only effective\
          \ on characters"
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "Watched"
      responses:
        204:
          description: "Contacts updated"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/unauthorized"
          examples:
            application/json:
              error: "Unauthorized message"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/forbidden"
          examples:
            application/json:
              error: "Forbidden message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      security:
      - evesso:
        - "esi-characters.write_contacts.v1"
      x-alternate-versions:
      - "dev"
      - "latest"
    delete:
      tags:
      - "Contacts"
      summary: "Delete contacts"
      description: "Bulk delete contacts\n\n---\nAlternate route: `/dev/characters/{character_id}/contacts/`\n\
        \nAlternate route: `/latest/characters/{character_id}/contacts/`\n"
      operationId: "delete_characters_character_id_contacts"
      parameters:
      - name: "character_id"
        in: "path"
        description: "An EVE character ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CharacterId"
      - name: "contact_ids"
        in: "query"
        description: "A list of contacts to delete"
        required: true
        type: "array"
        items:
          type: "integer"
          format: "int32"
        maxItems: 20
        minItems: 1
        x-exportParamName: "ContactIds"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        - "singularity"
        x-exportParamName: "Datasource"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
      responses:
        204:
          description: "Contacts deleted"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/unauthorized"
          examples:
            application/json:
              error: "Unauthorized message"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/forbidden"
          examples:
            application/json:
              error: "Forbidden message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      security:
      - evesso:
        - "esi-characters.write_contacts.v1"
      x-alternate-versions:
      - "dev"
      - "latest"
  /characters/{character_id}/mail/labels/:
    get:
      tags:
      - "Mail"
      summary: "Get mail labels"
      description: "Return a list of the users mail labels\n\n---\nAlternate route:\
        \ `/legacy/characters/{character_id}/mail/labels/`\n\n---\nThis route is cached\
        \ for up to 30 seconds\n\n---\nWarning: This route is deprecated.\n\n---\n\
        [Diff of the upcoming changes](https://esi.evetech.net/diff/v2/dev/#GET-/characters/{character_id}/mail/labels/)"
      operationId: "get_characters_character_id_mail_labels"
      parameters:
      - name: "character_id"
        in: "path"
        description: "An EVE character ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CharacterId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        - "singularity"
        x-exportParamName: "Datasource"
      - name: "If-None-Match"
        in: "header"
        description: "ETag from a previous request. A 304 will be returned if this\
          \ matches the current ETag"
        required: false
        type: "string"
        x-exportParamName: "IfNoneMatch"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
      responses:
        200:
          description: "A list of mail labels"
          schema:
            type: "array"
            description: "200 ok array"
            title: "get_characters_character_id_mail_labels_ok"
            items:
              $ref: "#/definitions/get_characters_character_id_mail_labels_200_ok"
            maxItems: 30
          examples:
            application/json:
            - color: "#660066"
              label_id: 16
              name: "PINK"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        304:
          description: "Not modified"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/unauthorized"
          examples:
            application/json:
              error: "Unauthorized message"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/forbidden"
          examples:
            application/json:
              error: "Forbidden message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      security:
      - evesso:
        - "esi-mail.read_mail.v1"
      deprecated: true
      x-alternate-versions:
      - "legacy"
      x-cached-seconds: 30
    post:
      tags:
      - "Mail"
      summary: "Create a mail label"
      description: "Create a mail label\n\n---\nAlternate route: `/dev/characters/{character_id}/mail/labels/`\n\
        \nAlternate route: `/latest/characters/{character_id}/mail/labels/`\n\nAlternate\
        \ route: `/legacy/characters/{character_id}/mail/labels/`\n"
      operationId: "post_characters_character_id_mail_labels"
      parameters:
      - name: "character_id"
        in: "path"
        description: "An EVE character ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CharacterId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        - "singularity"
        x-exportParamName: "Datasource"
      - in: "body"
        name: "label"
        description: "Label to create"
        required: true
        schema:
          $ref: "#/definitions/post_characters_character_id_mail_labels_label"
        x-exportParamName: "Label"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
      responses:
        201:
          description: "Label created"
          schema:
            type: "integer"
            format: "int32"
            description: "Label ID"
            title: "post_characters_character_id_mail_labels_created"
          examples:
            application/json: 128
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/unauthorized"
          examples:
            application/json:
              error: "Unauthorized message"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/forbidden"
          examples:
            application/json:
              error: "Forbidden message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      security:
      - evesso:
        - "esi-mail.organize_mail.v1"
      x-alternate-versions:
      - "dev"
      - "latest"
      - "legacy"
  /characters/{character_id}/notifications/:
    get:
      tags:
      - "Character"
      summary: "Get character notifications"
      description: "Return character notifications\n\n---\nAlternate route: `/dev/characters/{character_id}/notifications/`\n\
        \nAlternate route: `/latest/characters/{character_id}/notifications/`\n\n\
        ---\nThis route is cached for up to 600 seconds"
      operationId: "get_characters_character_id_notifications"
      parameters:
      - name: "character_id"
        in: "path"
        description: "An EVE character ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CharacterId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        - "singularity"
        x-exportParamName: "Datasource"
      - name: "If-None-Match"
        in: "header"
        description: "ETag from a previous request. A 304 will be returned if this\
          \ matches the current ETag"
        required: false
        type: "string"
        x-exportParamName: "IfNoneMatch"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
      responses:
        200:
          description: "Returns your recent notifications"
          schema:
            type: "array"
            description: "200 ok array"
            title: "get_characters_character_id_notifications_ok"
            items:
              $ref: "#/definitions/get_characters_character_id_notifications_200_ok"
            maxItems: 500
          examples:
            application/json:
            - is_read: true
              notification_id: 1
              sender_id: 1000132
              sender_type: "corporation"
              text: "amount: 3731016.4000000004\\nitemID: 1024881021663\\npayout:\
                \ 1\\n"
              timestamp: "2017-08-16T10:08:00Z"
              type: "InsurancePayoutMsg"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        304:
          description: "Not modified"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/unauthorized"
          examples:
            application/json:
              error: "Unauthorized message"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/forbidden"
          examples:
            application/json:
              error: "Forbidden message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      security:
      - evesso:
        - "esi-characters.read_notifications.v1"
      x-alternate-versions:
      - "dev"
      - "latest"
      x-cached-seconds: 600
  /characters/{character_id}/online/:
    get:
      tags:
      - "Location"
      summary: "Get character online"
      description: "Checks if the character is currently online\n\n---\nAlternate\
        \ route: `/dev/characters/{character_id}/online/`\n\nAlternate route: `/latest/characters/{character_id}/online/`\n\
        \n---\nThis route is cached for up to 60 seconds"
      operationId: "get_characters_character_id_online"
      parameters:
      - name: "character_id"
        in: "path"
        description: "An EVE character ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CharacterId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        - "singularity"
        x-exportParamName: "Datasource"
      - name: "If-None-Match"
        in: "header"
        description: "ETag from a previous request. A 304 will be returned if this\
          \ matches the current ETag"
        required: false
        type: "string"
        x-exportParamName: "IfNoneMatch"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
      responses:
        200:
          description: "Object describing the character's online status"
          schema:
            $ref: "#/definitions/get_characters_character_id_online_ok"
          examples:
            application/json:
              last_login: "2017-01-02T03:04:05Z"
              last_logout: "2017-01-02T04:05:06Z"
              logins: 9001
              online: true
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        304:
          description: "Not modified"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/unauthorized"
          examples:
            application/json:
              error: "Unauthorized message"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/forbidden"
          examples:
            application/json:
              error: "Forbidden message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      security:
      - evesso:
        - "esi-location.read_online.v1"
      x-alternate-versions:
      - "dev"
      - "latest"
      x-cached-seconds: 60
  /characters/{character_id}/orders/:
    get:
      tags:
      - "Market"
      summary: "List open orders from a character"
      description: "List open market orders placed by a character\n\n---\nAlternate\
        \ route: `/dev/characters/{character_id}/orders/`\n\nAlternate route: `/latest/characters/{character_id}/orders/`\n\
        \n---\nThis route is cached for up to 1200 seconds"
      operationId: "get_characters_character_id_orders"
      parameters:
      - name: "character_id"
        in: "path"
        description: "An EVE character ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CharacterId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        - "singularity"
        x-exportParamName: "Datasource"
      - name: "If-None-Match"
        in: "header"
        description: "ETag from a previous request. A 304 will be returned if this\
          \ matches the current ETag"
        required: false
        type: "string"
        x-exportParamName: "IfNoneMatch"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
      responses:
        200:
          description: "Open market orders placed by a character"
          schema:
            type: "array"
            description: "200 ok array"
            title: "get_characters_character_id_orders_ok"
            items:
              $ref: "#/definitions/get_characters_character_id_orders_200_ok"
            maxItems: 305
          examples:
            application/json:
            - duration: 30
              escrow: 45.6
              is_buy_order: true
              is_corporation: false
              issued: "2016-09-03T05:12:25Z"
              location_id: 456
              min_volume: 1
              order_id: 123
              price: 33.3
              range: "station"
              region_id: 123
              type_id: 456
              volume_remain: 4422
              volume_total: 123456
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        304:
          description: "Not modified"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/unauthorized"
          examples:
            application/json:
              error: "Unauthorized message"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/forbidden"
          examples:
            application/json:
              error: "Forbidden message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      security:
      - evesso:
        - "esi-markets.read_character_orders.v1"
      x-alternate-versions:
      - "dev"
      - "latest"
      x-cached-seconds: 1200
  /characters/{character_id}/planets/{planet_id}/:
    get:
      tags:
      - "Planetary Interaction"
      summary: "Get colony layout"
      description: "Returns full details on the layout of a single planetary colony,\
        \ including links, pins and routes. Note: Planetary information is only recalculated\
        \ when the colony is viewed through the client. Information will not update\
        \ until this criteria is met.\n\n---\nAlternate route: `/legacy/characters/{character_id}/planets/{planet_id}/`\n\
        \n---\nThis route is cached for up to 600 seconds\n\n---\nWarning: This route\
        \ is deprecated.\n\n---\n[Diff of the upcoming changes](https://esi.evetech.net/diff/v2/dev/#GET-/characters/{character_id}/planets/{planet_id}/)"
      operationId: "get_characters_character_id_planets_planet_id"
      parameters:
      - name: "character_id"
        in: "path"
        description: "An EVE character ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CharacterId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        - "singularity"
        x-exportParamName: "Datasource"
      - name: "If-None-Match"
        in: "header"
        description: "ETag from a previous request. A 304 will be returned if this\
          \ matches the current ETag"
        required: false
        type: "string"
        x-exportParamName: "IfNoneMatch"
      - name: "planet_id"
        in: "path"
        description: "Planet id of the target planet"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "PlanetId"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
      responses:
        200:
          description: "Colony layout"
          schema:
            $ref: "#/definitions/get_characters_character_id_planets_planet_id_ok"
          examples:
            application/json:
              links:
              - destination_pin_id: 1000000017022
                link_level: 0
                source_pin_id: 1000000017021
              pins:
              - latitude: 1.5508784497
                longitude: 0.7171459333
                pin_id: 1000000017021
                type_id: 2254
              - latitude: 1.5336063994
                longitude: 0.7097755844
                pin_id: 1000000017022
                type_id: 2256
              routes:
              - content_type_id: 2393
                destination_pin_id: 1000000017030
                quantity: 20
                route_id: 4
                source_pin_id: 1000000017029
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        304:
          description: "Not modified"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/unauthorized"
          examples:
            application/json:
              error: "Unauthorized message"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/forbidden"
          examples:
            application/json:
              error: "Forbidden message"
        404:
          description: "Colony not found"
          schema:
            $ref: "#/definitions/get_characters_character_id_planets_planet_id_not_found"
          examples:
            application/json:
              error: "Colony not found"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      security:
      - evesso:
        - "esi-planets.manage_planets.v1"
      deprecated: true
      x-alternate-versions:
      - "legacy"
      x-cached-seconds: 600
  /characters/{character_id}/portrait/:
    get:
      tags:
      - "Character"
      summary: "Get character portraits"
      description: "Get portrait urls for a character\n\n---\nAlternate route: `/dev/characters/{character_id}/portrait/`\n\
        \nAlternate route: `/latest/characters/{character_id}/portrait/`\n\n---\n\
        This route is cached for up to 3600 seconds"
      operationId: "get_characters_character_id_portrait"
      parameters:
      - name: "character_id"
        in: "path"
        description: "An EVE character ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CharacterId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        - "singularity"
        x-exportParamName: "Datasource"
      - name: "If-None-Match"
        in: "header"
        description: "ETag from a previous request. A 304 will be returned if this\
          \ matches the current ETag"
        required: false
        type: "string"
        x-exportParamName: "IfNoneMatch"
      responses:
        200:
          description: "Public data for the given character"
          schema:
            $ref: "#/definitions/get_characters_character_id_portrait_ok"
          examples:
            application/json:
              px128x128: "https://imageserver.eveonline.com/Character/95465499_128.jpg"
              px256x256: "https://imageserver.eveonline.com/Character/95465499_256.jpg"
              px512x512: "https://imageserver.eveonline.com/Character/95465499_512.jpg"
              px64x64: "https://imageserver.eveonline.com/Character/95465499_64.jpg"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        304:
          description: "Not modified"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        404:
          description: "No image server for this datasource"
          schema:
            $ref: "#/definitions/get_characters_character_id_portrait_not_found"
          examples:
            application/json:
              error: "No image server for this datasource"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      x-alternate-versions:
      - "dev"
      - "latest"
      x-cached-seconds: 3600
  /characters/{character_id}/roles/:
    get:
      tags:
      - "Character"
      summary: "Get character corporation roles"
      description: "Returns a character's corporation roles\n\n---\nAlternate route:\
        \ `/dev/characters/{character_id}/roles/`\n\nAlternate route: `/latest/characters/{character_id}/roles/`\n\
        \n---\nThis route is cached for up to 3600 seconds"
      operationId: "get_characters_character_id_roles"
      parameters:
      - name: "character_id"
        in: "path"
        description: "An EVE character ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CharacterId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        - "singularity"
        x-exportParamName: "Datasource"
      - name: "If-None-Match"
        in: "header"
        description: "ETag from a previous request. A 304 will be returned if this\
          \ matches the current ETag"
        required: false
        type: "string"
        x-exportParamName: "IfNoneMatch"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
      responses:
        200:
          description: "The character's roles in thier corporation"
          schema:
            $ref: "#/definitions/get_characters_character_id_roles_ok"
          examples:
            application/json:
              roles:
              - "Director"
              - "Station_Manager"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        304:
          description: "Not modified"
          headers:
[...]
