---
swagger: "2.0"
info:
  description: "An OpenAPI for EVE Online"
  version: "0.8.9"
  title: "EVE Swagger Interface"
host: "esi.evetech.net"
basePath: "/v5"
schemes:
- "https"
consumes:
- "application/json"
produces:
- "application/json"
paths:
  /characters/{character_id}/notifications/:
    get:
      tags:
      - "Character"
      summary: "Get character notifications"
      description: "Return character notifications\n\n---\nAlternate route: `/dev/characters/{character_id}/notifications/`\n\
        \nAlternate route: `/latest/characters/{character_id}/notifications/`\n\n\
        ---\nThis route is cached for up to 600 seconds"
      operationId: "get_characters_character_id_notifications"
      parameters:
      - name: "character_id"
        in: "path"
        description: "An EVE character ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CharacterId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        - "singularity"
        x-exportParamName: "Datasource"
      - name: "If-None-Match"
        in: "header"
        description: "ETag from a previous request. A 304 will be returned if this\
          \ matches the current ETag"
        required: false
        type: "string"
        x-exportParamName: "IfNoneMatch"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
      responses:
        200:
          description: "Returns your recent notifications"
          schema:
            type: "array"
            description: "200 ok array"
            title: "get_characters_character_id_notifications_ok"
            items:
              $ref: "#/definitions/get_characters_character_id_notifications_200_ok"
            maxItems: 500
          examples:
            application/json:
            - is_read: true
              notification_id: 1
              sender_id: 1000132
              sender_type: "corporation"
              text: "amount: 3731016.4000000004\\nitemID: 1024881021663\\npayout:\
                \ 1\\n"
              timestamp: "2017-08-16T10:08:00Z"
              type: "InsurancePayoutMsg"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        304:
          description: "Not modified"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/unauthorized"
          examples:
            application/json:
              error: "Unauthorized message"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/forbidden"
          examples:
            application/json:
              error: "Forbidden message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      security:
      - evesso:
        - "esi-characters.read_notifications.v1"
      x-alternate-versions:
      - "dev"
      - "latest"
      x-cached-seconds: 600
  /characters/{character_id}/wallet/journal/:
    get:
      tags:
      - "Wallet"
      summary: "Get character wallet journal"
      description: "Retrieve the given character's wallet journal going 30 days back\n\
        \n---\nAlternate route: `/legacy/characters/{character_id}/wallet/journal/`\n\
        \n---\nThis route is cached for up to 3600 seconds\n\n---\nWarning: This route\
        \ is deprecated\n\n---\n[Diff of the upcoming changes](https://esi.evetech.net/diff/v5/dev/#GET-/characters/{character_id}/wallet/journal/)"
      operationId: "get_characters_character_id_wallet_journal"
      parameters:
      - name: "character_id"
        in: "path"
        description: "An EVE character ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CharacterId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        - "singularity"
        x-exportParamName: "Datasource"
      - name: "If-None-Match"
        in: "header"
        description: "ETag from a previous request. A 304 will be returned if this\
          \ matches the current ETag"
        required: false
        type: "string"
        x-exportParamName: "IfNoneMatch"
      - name: "page"
        in: "query"
        description: "Which page of results to return"
        required: false
        type: "integer"
        default: 1
        minimum: 1
        format: "int32"
        x-exportParamName: "Page"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
      responses:
        200:
          description: "Journal entries"
          schema:
            type: "array"
            description: "Wallet journal entries"
            title: "get_characters_character_id_wallet_journal_ok"
            items:
              $ref: "#/definitions/get_characters_character_id_wallet_journal_200_ok"
            maxItems: 2500
          examples:
            application/json:
            - amount: -100000
              balance: 500000.4316
              context_id: 4
              context_id_type: "contract_id"
              date: "2018-02-23T14:31:32Z"
              description: "Contract Deposit"
              first_party_id: 2112625428
              id: 89
              ref_type: "contract_deposit"
              second_party_id: 1000132
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
            X-Pages:
              type: "integer"
              format: "int32"
              description: "Maximum page number"
              default: 1
        304:
          description: "Not modified"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/unauthorized"
          examples:
            application/json:
              error: "Unauthorized message"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/forbidden"
          examples:
            application/json:
              error: "Forbidden message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      security:
      - evesso:
        - "esi-wallet.read_character_wallet.v1"
      deprecated: true
      x-alternate-versions:
      - "legacy"
      x-cached-seconds: 3600
securityDefinitions:
  evesso:
    type: "oauth2"
    authorizationUrl: "https://login.eveonline.com/v2/oauth/authorize"
    flow: "implicit"
    scopes:
      esi-characters.read_notifications.v1: "EVE SSO scope esi-characters.read_notifications.v1"
      esi-wallet.read_character_wallet.v1: "EVE SSO scope esi-wallet.read_character_wallet.v1"
definitions:
  bad_request:
    type: "object"
    required:
    - "error"
    properties:
      error:
        type: "string"
        description: "Bad request message"
    title: "Bad request"
    description: "Bad request model"
  error_limited:
    type: "object"
    required:
    - "error"
    properties:
      error:
        type: "string"
        description: "Error limited message"
    title: "Error limited"
    description: "Error limited model"
  forbidden:
    type: "object"
    required:
    - "error"
    properties:
      error:
        type: "string"
        description: "Forbidden message"
      sso_status:
        type: "integer"
        description: "status code received from SSO"
    title: "Forbidden"
    description: "Forbidden model"
  gateway_timeout:
    type: "object"
    required:
    - "error"
    properties:
      error:
        type: "string"
        description: "Gateway timeout message"
      timeout:
        type: "integer"
        description: "number of seconds the request was given"
    title: "Gateway timeout"
    description: "Gateway timeout model"
  internal_server_error:
    type: "object"
    required:
    - "error"
    properties:
      error:
        type: "string"
        description: "Internal server error message"
    title: "Internal server error"
    description: "Internal server error model"
  service_unavailable:
    type: "object"
    required:
    - "error"
    properties:
      error:
        type: "string"
        description: "Service unavailable message"
    title: "Service unavailable"
    description: "Service unavailable model"
  unauthorized:
    type: "object"
    required:
    - "error"
    properties:
      error:
        type: "string"
        description: "Unauthorized message"
    title: "Unauthorized"
    description: "Unauthorized model"
  get_characters_character_id_notifications_200_ok:
    required:
    - "notification_id"
    - "sender_id"
    - "sender_type"
    - "timestamp"
    - "type"
    properties:
      is_read:
        type: "boolean"
        description: "is_read boolean"
        title: "get_characters_character_id_notifications_is_read"
      notification_id:
        type: "integer"
        format: "int64"
        description: "notification_id integer"
        title: "get_characters_character_id_notifications_notification_id"
      sender_id:
        type: "integer"
        format: "int32"
        description: "sender_id integer"
        title: "get_characters_character_id_notifications_sender_id"
      sender_type:
        type: "string"
        description: "sender_type string"
        title: "get_characters_character_id_notifications_sender_type"
        enum:
        - "character"
        - "corporation"
        - "alliance"
        - "faction"
        - "other"
      text:
        type: "string"
        description: "text string"
        title: "get_characters_character_id_notifications_text"
      timestamp:
        type: "string"
        format: "date-time"
        description: "timestamp string"
        title: "get_characters_character_id_notifications_timestamp"
      type:
        type: "string"
        description: "type string"
        title: "get_characters_character_id_notifications_type"
        enum:
        - "AcceptedAlly"
        - "AcceptedSurrender"
        - "AllAnchoringMsg"
        - "AllMaintenanceBillMsg"
        - "AllStrucInvulnerableMsg"
        - "AllStructVulnerableMsg"
        - "AllWarCorpJoinedAllianceMsg"
        - "AllWarDeclaredMsg"
        - "AllWarInvalidatedMsg"
        - "AllWarRetractedMsg"
        - "AllWarSurrenderMsg"
        - "AllianceCapitalChanged"
        - "AllianceWarDeclaredV2"
        - "AllyContractCancelled"
        - "AllyJoinedWarAggressorMsg"
        - "AllyJoinedWarAllyMsg"
        - "AllyJoinedWarDefenderMsg"
        - "BattlePunishFriendlyFire"
        - "BillOutOfMoneyMsg"
        - "BillPaidCorpAllMsg"
        - "BountyClaimMsg"
        - "BountyESSShared"
        - "BountyESSTaken"
        - "BountyPlacedAlliance"
        - "BountyPlacedChar"
        - "BountyPlacedCorp"
        - "BountyYourBountyClaimed"
        - "BuddyConnectContactAdd"
        - "CharAppAcceptMsg"
        - "CharAppRejectMsg"
        - "CharAppWithdrawMsg"
        - "CharLeftCorpMsg"
        - "CharMedalMsg"
        - "CharTerminationMsg"
        - "CloneActivationMsg"
        - "CloneActivationMsg2"
        - "CloneMovedMsg"
        - "CloneRevokedMsg1"
        - "CloneRevokedMsg2"
        - "CombatOperationFinished"
        - "ContactAdd"
        - "ContactEdit"
        - "ContainerPasswordMsg"
        - "CorpAllBillMsg"
        - "CorpAppAcceptMsg"
        - "CorpAppInvitedMsg"
        - "CorpAppNewMsg"
        - "CorpAppRejectCustomMsg"
        - "CorpAppRejectMsg"
        - "CorpBecameWarEligible"
        - "CorpDividendMsg"
        - "CorpFriendlyFireDisableTimerCompleted"
        - "CorpFriendlyFireDisableTimerStarted"
        - "CorpFriendlyFireEnableTimerCompleted"
        - "CorpFriendlyFireEnableTimerStarted"
        - "CorpKicked"
        - "CorpLiquidationMsg"
        - "CorpNewCEOMsg"
        - "CorpNewsMsg"
        - "CorpNoLongerWarEligible"
        - "CorpOfficeExpirationMsg"
        - "CorpStructLostMsg"
        - "CorpTaxChangeMsg"
        - "CorpVoteCEORevokedMsg"
        - "CorpVoteMsg"
        - "CorpWarDeclaredMsg"
        - "CorpWarDeclaredV2"
        - "CorpWarFightingLegalMsg"
        - "CorpWarInvalidatedMsg"
        - "CorpWarRetractedMsg"
        - "CorpWarSurrenderMsg"
        - "CustomsMsg"
        - "DeclareWar"
        - "DistrictAttacked"
        - "DustAppAcceptedMsg"
        - "EntosisCaptureStarted"
        - "FWAllianceKickMsg"
        - "FWAllianceWarningMsg"
        - "FWCharKickMsg"
        - "FWCharRankGainMsg"
        - "FWCharRankLossMsg"
        - "FWCharWarningMsg"
        - "FWCorpJoinMsg"
        - "FWCorpKickMsg"
        - "FWCorpLeaveMsg"
        - "FWCorpWarningMsg"
        - "FacWarCorpJoinRequestMsg"
        - "FacWarCorpJoinWithdrawMsg"
        - "FacWarCorpLeaveRequestMsg"
        - "FacWarCorpLeaveWithdrawMsg"
        - "FacWarLPDisqualifiedEvent"
        - "FacWarLPDisqualifiedKill"
        - "FacWarLPPayoutEvent"
        - "FacWarLPPayoutKill"
        - "GameTimeAdded"
        - "GameTimeReceived"
        - "GameTimeSent"
        - "GiftReceived"
        - "IHubDestroyedByBillFailure"
        - "IncursionCompletedMsg"
        - "IndustryOperationFinished"
        - "IndustryTeamAuctionLost"
        - "IndustryTeamAuctionWon"
        - "InfrastructureHubBillAboutToExpire"
        - "InsuranceExpirationMsg"
        - "InsuranceFirstShipMsg"
        - "InsuranceInvalidatedMsg"
        - "InsuranceIssuedMsg"
        - "InsurancePayoutMsg"
        - "InvasionSystemLogin"
        - "JumpCloneDeletedMsg1"
        - "JumpCloneDeletedMsg2"
        - "KillReportFinalBlow"
        - "KillReportVictim"
        - "KillRightAvailable"
        - "KillRightAvailableOpen"
        - "KillRightEarned"
        - "KillRightUnavailable"
        - "KillRightUnavailableOpen"
        - "KillRightUsed"
        - "LocateCharMsg"
        - "MadeWarMutual"
        - "MercOfferedNegotiationMsg"
        - "MissionOfferExpirationMsg"
        - "MissionTimeoutMsg"
        - "MoonminingAutomaticFracture"
        - "MoonminingExtractionCancelled"
        - "MoonminingExtractionFinished"
        - "MoonminingExtractionStarted"
        - "MoonminingLaserFired"
        - "MutualWarExpired"
        - "MutualWarInviteAccepted"
        - "MutualWarInviteRejected"
        - "MutualWarInviteSent"
        - "NPCStandingsGained"
        - "NPCStandingsLost"
        - "OfferedSurrender"
        - "OfferedToAlly"
        - "OldLscMessages"
        - "OperationFinished"
        - "OrbitalAttacked"
        - "OrbitalReinforced"
        - "OwnershipTransferred"
        - "ReimbursementMsg"
        - "ResearchMissionAvailableMsg"
        - "RetractsWar"
        - "SeasonalChallengeCompleted"
        - "SovAllClaimAquiredMsg"
        - "SovAllClaimLostMsg"
        - "SovCommandNodeEventStarted"
        - "SovCorpBillLateMsg"
        - "SovCorpClaimFailMsg"
        - "SovDisruptorMsg"
        - "SovStationEnteredFreeport"
        - "SovStructureDestroyed"
        - "SovStructureReinforced"
        - "SovStructureSelfDestructCancel"
        - "SovStructureSelfDestructFinished"
        - "SovStructureSelfDestructRequested"
        - "SovereigntyIHDamageMsg"
        - "SovereigntySBUDamageMsg"
        - "SovereigntyTCUDamageMsg"
        - "StationAggressionMsg1"
        - "StationAggressionMsg2"
        - "StationConquerMsg"
        - "StationServiceDisabled"
        - "StationServiceEnabled"
        - "StationStateChangeMsg"
        - "StoryLineMissionAvailableMsg"
        - "StructureAnchoring"
        - "StructureCourierContractChanged"
        - "StructureDestroyed"
        - "StructureFuelAlert"
        - "StructureItemsDelivered"
        - "StructureItemsMovedToSafety"
        - "StructureLostArmor"
        - "StructureLostShields"
        - "StructureOnline"
        - "StructureServicesOffline"
        - "StructureUnanchoring"
        - "StructureUnderAttack"
        - "StructureWentHighPower"
        - "StructureWentLowPower"
        - "StructuresJobsCancelled"
        - "StructuresJobsPaused"
        - "StructuresReinforcementChanged"
        - "TowerAlertMsg"
        - "TowerResourceAlertMsg"
        - "TransactionReversalMsg"
        - "TutorialMsg"
        - "WarAdopted "
        - "WarAllyInherited"
        - "WarAllyOfferDeclinedMsg"
        - "WarConcordInvalidates"
        - "WarDeclared"
        - "WarHQRemovedFromSpace"
        - "WarInherited"
        - "WarInvalid"
        - "WarRetracted"
        - "WarRetractedByConcord"
        - "WarSurrenderDeclinedMsg"
        - "WarSurrenderOfferMsg"
    description: "200 ok object"
  get_characters_character_id_wallet_journal_200_ok:
    required:
    - "date"
    - "description"
    - "id"
    - "ref_type"
    properties:
      amount:
        type: "number"
        format: "double"
        description: "The amount of ISK given or taken from the wallet as a result\
          \ of the given transaction. Positive when ISK is deposited into the wallet\
          \ and negative when ISK is withdrawn"
        title: "get_characters_character_id_wallet_journal_amount"
      balance:
        type: "number"
        format: "double"
        description: "Wallet balance after transaction occurred"
        title: "get_characters_character_id_wallet_journal_balance"
      context_id:
        type: "integer"
        format: "int64"
        description: "An ID that gives extra context to the particular transaction.\
          \ Because of legacy reasons the context is completely different per ref_type\
          \ and means different things. It is also possible to not have a context_id"
        title: "get_characters_character_id_wallet_journal_context_id"
      context_id_type:
        type: "string"
        description: "The type of the given context_id if present"
        title: "get_characters_character_id_wallet_journal_context_id_type"
        enum:
        - "structure_id"
        - "station_id"
        - "market_transaction_id"
        - "character_id"
        - "corporation_id"
        - "alliance_id"
        - "eve_system"
        - "industry_job_id"
        - "contract_id"
        - "planet_id"
        - "system_id"
        - "type_id"
      date:
        type: "string"
        format: "date-time"
        description: "Date and time of transaction"
        title: "get_characters_character_id_wallet_journal_date"
      description:
        type: "string"
        description: "The reason for the transaction, mirrors what is seen in the\
          \ client"
        title: "get_characters_character_id_wallet_journal_description"
      first_party_id:
        type: "integer"
        format: "int32"
        description: "The id of the first party involved in the transaction. This\
          \ attribute has no consistency and is different or non existant for particular\
          \ ref_types. The description attribute will help make sense of what this\
          \ attribute means. For more info about the given ID it can be dropped into\
          \ the /universe/names/ ESI route to determine its type and name"
        title: "get_characters_character_id_wallet_journal_first_party_id"
      id:
        type: "integer"
        format: "int64"
        description: "Unique journal reference ID"
        title: "get_characters_character_id_wallet_journal_id"
      reason:
        type: "string"
        description: "The user stated reason for the transaction. Only applies to\
          \ some ref_types"
        title: "get_characters_character_id_wallet_journal_reason"
      ref_type:
        type: "string"
        description: "\"The transaction type for the given. transaction. Different\
          \ transaction types will populate different attributes.\""
        title: "get_characters_character_id_wallet_journal_ref_type"
        enum:
        - "acceleration_gate_fee"
        - "advertisement_listing_fee"
        - "agent_donation"
        - "agent_location_services"
        - "agent_miscellaneous"
        - "agent_mission_collateral_paid"
        - "agent_mission_collateral_refunded"
        - "agent_mission_reward"
        - "agent_mission_reward_corporation_tax"
        - "agent_mission_time_bonus_reward"
        - "agent_mission_time_bonus_reward_corporation_tax"
        - "agent_security_services"
        - "agent_services_rendered"
        - "agents_preward"
        - "alliance_maintainance_fee"
        - "alliance_registration_fee"
        - "asset_safety_recovery_tax"
        - "bounty"
        - "bounty_prize"
        - "bounty_prize_corporation_tax"
        - "bounty_prizes"
        - "bounty_reimbursement"
        - "bounty_surcharge"
        - "brokers_fee"
        - "clone_activation"
        - "clone_transfer"
        - "contraband_fine"
        - "contract_auction_bid"
        - "contract_auction_bid_corp"
        - "contract_auction_bid_refund"
        - "contract_auction_sold"
        - "contract_brokers_fee"
        - "contract_brokers_fee_corp"
        - "contract_collateral"
        - "contract_collateral_deposited_corp"
        - "contract_collateral_payout"
        - "contract_collateral_refund"
        - "contract_deposit"
        - "contract_deposit_corp"
        - "contract_deposit_refund"
        - "contract_deposit_sales_tax"
        - "contract_price"
        - "contract_price_payment_corp"
        - "contract_reversal"
        - "contract_reward"
        - "contract_reward_deposited"
        - "contract_reward_deposited_corp"
        - "contract_reward_refund"
        - "contract_sales_tax"
        - "copying"
        - "corporate_reward_payout"
        - "corporate_reward_tax"
        - "corporation_account_withdrawal"
        - "corporation_bulk_payment"
        - "corporation_dividend_payment"
        - "corporation_liquidation"
        - "corporation_logo_change_cost"
        - "corporation_payment"
        - "corporation_registration_fee"
        - "courier_mission_escrow"
        - "cspa"
        - "cspaofflinerefund"
        - "datacore_fee"
        - "dna_modification_fee"
        - "docking_fee"
        - "duel_wager_escrow"
        - "duel_wager_payment"
        - "duel_wager_refund"
        - "factory_slot_rental_fee"
        - "gm_cash_transfer"
        - "industry_job_tax"
        - "infrastructure_hub_maintenance"
        - "inheritance"
        - "insurance"
        - "jump_clone_activation_fee"
        - "jump_clone_installation_fee"
        - "kill_right_fee"
        - "lp_store"
        - "manufacturing"
        - "market_escrow"
        - "market_fine_paid"
        - "market_transaction"
        - "medal_creation"
        - "medal_issued"
        - "mission_completion"
        - "mission_cost"
        - "mission_expiration"
        - "mission_reward"
        - "office_rental_fee"
        - "operation_bonus"
        - "opportunity_reward"
        - "planetary_construction"
        - "planetary_export_tax"
        - "planetary_import_tax"
        - "player_donation"
        - "player_trading"
        - "project_discovery_reward"
        - "project_discovery_tax"
        - "reaction"
        - "release_of_impounded_property"
        - "repair_bill"
        - "reprocessing_tax"
        - "researching_material_productivity"
        - "researching_technology"
        - "researching_time_productivity"
        - "resource_wars_reward"
        - "reverse_engineering"
        - "security_processing_fee"
        - "shares"
        - "sovereignity_bill"
        - "store_purchase"
        - "store_purchase_refund"
        - "structure_gate_jump"
        - "transaction_tax"
        - "upkeep_adjustment_fee"
        - "war_ally_contract"
        - "war_fee"
        - "war_fee_surrender"
      second_party_id:
        type: "integer"
        format: "int32"
        description: "The id of the second party involved in the transaction. This\
          \ attribute has no consistency and is different or non existant for particular\
          \ ref_types. The description attribute will help make sense of what this\
          \ attribute means. For more info about the given ID it can be dropped into\
          \ the /universe/names/ ESI route to determine its type and name"
        title: "get_characters_character_id_wallet_journal_second_party_id"
      tax:
        type: "number"
        format: "double"
        description: "Tax amount received. Only applies to tax related transactions"
        title: "get_characters_character_id_wallet_journal_tax"
      tax_receiver_id:
        type: "integer"
        format: "int32"
        description: "The corporation ID receiving any tax paid. Only applies to tax\
          \ related transactions"
        title: "get_characters_character_id_wallet_journal_tax_receiver_id"
    description: "200 ok object"
parameters:
  If-None-Match:
    name: "If-None-Match"
    in: "header"
    description: "ETag from a previous request. A 304 will be returned if this matches\
      \ the current ETag"
    required: false
    type: "string"
    x-exportParamName: "IfNoneMatch"
  character_id:
    name: "character_id"
    in: "path"
    description: "An EVE character ID"
    required: true
    type: "integer"
    minimum: 1
    format: "int32"
    x-exportParamName: "CharacterId"
  corporation_id:
    name: "corporation_id"
    in: "path"
    description: "An EVE corporation ID"
    required: true
    type: "integer"
    minimum: 1
    format: "int32"
  datasource:
    name: "datasource"
    in: "query"
    description: "The server name you would like data from"
    required: false
    type: "string"
    default: "tranquility"
    enum:
    - "tranquility"
    - "singularity"
    x-exportParamName: "Datasource"
  page:
    name: "page"
    in: "query"
    description: "Which page of results to return"
    required: false
    type: "integer"
    default: 1
    minimum: 1
    format: "int32"
    x-exportParamName: "Page"
  token:
    name: "token"
    in: "query"
    description: "Access token to use if unable to set a header"
    required: false
    type: "string"
    x-exportParamName: "Token"
