---
swagger: "2.0"
info:
  description: "An OpenAPI for EVE Online"
  version: "1.11"
  title: "EVE Swagger Interface"
host: "esi.evetech.net"
basePath: "/v5"
schemes:
- "https"
consumes:
- "application/json"
produces:
- "application/json"
paths:
  /characters/{character_id}/:
    get:
      tags:
      - "Character"
      summary: "Get character's public information"
      description: "Public information about a character\n\n---\nAlternate route:\
        \ `/dev/characters/{character_id}/`\n\nAlternate route: `/latest/characters/{character_id}/`\n\
        \nAlternate route: `/legacy/characters/{character_id}/`\n\n---\nThis route\
        \ is cached for up to 86400 seconds"
      operationId: "get_characters_character_id"
      parameters:
      - name: "character_id"
        in: "path"
        description: "An EVE character ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CharacterId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        x-exportParamName: "Datasource"
      - name: "If-None-Match"
        in: "header"
        description: "ETag from a previous request. A 304 will be returned if this\
          \ matches the current ETag"
        required: false
        type: "string"
        x-exportParamName: "IfNoneMatch"
      responses:
        200:
          description: "Public data for the given character"
          schema:
            $ref: "#/definitions/get_characters_character_id_ok"
          examples:
            application/json:
              birthday: "2015-03-24T11:37:00Z"
              bloodline_id: 3
              corporation_id: 109299958
              description: ""
              gender: "male"
              name: "CCP Bartender"
              race_id: 2
              title: "All round pretty awesome guy"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        304:
          description: "Not modified"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        404:
          description: "Character not found"
          schema:
            $ref: "#/definitions/get_characters_character_id_not_found"
          examples:
            application/json:
              error: "Not found message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      x-alternate-versions:
      - "dev"
      - "latest"
      - "legacy"
      x-cached-seconds: 86400
  /characters/{character_id}/assets/:
    get:
      tags:
      - "Assets"
      summary: "Get character assets"
      description: "Return a list of the characters assets\n\n---\nAlternate route:\
        \ `/dev/characters/{character_id}/assets/`\n\nAlternate route: `/latest/characters/{character_id}/assets/`\n\
        \n---\nThis route is cached for up to 3600 seconds"
      operationId: "get_characters_character_id_assets"
      parameters:
      - name: "character_id"
        in: "path"
        description: "An EVE character ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CharacterId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        x-exportParamName: "Datasource"
      - name: "If-None-Match"
        in: "header"
        description: "ETag from a previous request. A 304 will be returned if this\
          \ matches the current ETag"
        required: false
        type: "string"
        x-exportParamName: "IfNoneMatch"
      - name: "page"
        in: "query"
        description: "Which page of results to return"
        required: false
        type: "integer"
        default: 1
        minimum: 1
        format: "int32"
        x-exportParamName: "Page"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
      responses:
        200:
          description: "A flat list of the users assets"
          schema:
            type: "array"
            description: "200 ok array"
            title: "get_characters_character_id_assets_ok"
            items:
              $ref: "#/definitions/get_characters_character_id_assets_200_ok"
            maxItems: 1000
          examples:
            application/json:
            - is_blueprint_copy: true
              is_singleton: true
              item_id: 1000000016835
              location_flag: "Hangar"
              location_id: 60002959
              location_type: "station"
              quantity: 1
              type_id: 3516
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
            X-Pages:
              type: "integer"
              format: "int32"
              description: "Maximum page number"
              default: 1
        304:
          description: "Not modified"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/unauthorized"
          examples:
            application/json:
              error: "Unauthorized message"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/forbidden"
          examples:
            application/json:
              error: "Forbidden message"
        404:
          description: "Requested page does not exist"
          schema:
            $ref: "#/definitions/get_characters_character_id_assets_not_found"
          examples:
            application/json:
              error: "Requested page does not exist"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      security:
      - evesso:
        - "esi-assets.read_assets.v1"
      x-alternate-versions:
      - "dev"
      - "latest"
      x-cached-seconds: 3600
  /characters/{character_id}/cspa/:
    post:
      tags:
      - "Character"
      summary: "Calculate a CSPA charge cost"
      description: "Takes a source character ID in the url and a set of target character\
        \ ID's in the body, returns a CSPA charge cost\n\n---\nAlternate route: `/dev/characters/{character_id}/cspa/`\n\
        \nAlternate route: `/latest/characters/{character_id}/cspa/`\n"
      operationId: "post_characters_character_id_cspa"
      parameters:
      - name: "character_id"
        in: "path"
        description: "An EVE character ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CharacterId"
      - in: "body"
        name: "characters"
        description: "The target characters to calculate the charge for"
        required: true
        schema:
          title: "post_characters_character_id_cspa_characters"
          type: "array"
          description: "characters array"
          items:
            type: "integer"
            format: "int32"
            description: "character integer"
            title: "post_characters_character_id_cspa_character"
        x-exportParamName: "Characters"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        x-exportParamName: "Datasource"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
      responses:
        201:
          description: "Aggregate cost of sending a mail from the source character\
            \ to the target characters, in ISK"
          schema:
            type: "number"
            format: "float"
            description: "201 created number"
            title: "post_characters_character_id_cspa_created"
          examples:
            application/json: 2950.0
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/unauthorized"
          examples:
            application/json:
              error: "Unauthorized message"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/forbidden"
          examples:
            application/json:
              error: "Forbidden message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      security:
      - evesso:
        - "esi-characters.read_contacts.v1"
      x-alternate-versions:
      - "dev"
      - "latest"
  /characters/{character_id}/notifications/:
    get:
      tags:
      - "Character"
      summary: "Get character notifications"
      description: "Return character notifications\n\n---\nAlternate route: `/dev/characters/{character_id}/notifications/`\n\
        \nAlternate route: `/latest/characters/{character_id}/notifications/`\n\n\
        Alternate route: `/v6/characters/{character_id}/notifications/`\n\n---\nThis\
        \ route is cached for up to 600 seconds"
      operationId: "get_characters_character_id_notifications"
      parameters:
      - name: "character_id"
        in: "path"
        description: "An EVE character ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CharacterId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        x-exportParamName: "Datasource"
      - name: "If-None-Match"
        in: "header"
        description: "ETag from a previous request. A 304 will be returned if this\
          \ matches the current ETag"
        required: false
        type: "string"
        x-exportParamName: "IfNoneMatch"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
      responses:
        200:
          description: "Returns your recent notifications"
          schema:
            type: "array"
            description: "200 ok array"
            title: "get_characters_character_id_notifications_ok"
            items:
              $ref: "#/definitions/get_characters_character_id_notifications_200_ok"
            maxItems: 500
          examples:
            application/json:
            - is_read: true
              notification_id: 1
              sender_id: 1000132
              sender_type: "corporation"
              text: "amount: 3731016.4000000004\\nitemID: 1024881021663\\npayout:\
                \ 1\\n"
              timestamp: "2017-08-16T10:08:00Z"
              type: "InsurancePayoutMsg"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        304:
          description: "Not modified"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/unauthorized"
          examples:
            application/json:
              error: "Unauthorized message"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/forbidden"
          examples:
            application/json:
              error: "Forbidden message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      security:
      - evesso:
        - "esi-characters.read_notifications.v1"
      x-alternate-versions:
      - "dev"
      - "latest"
      - "v6"
      x-cached-seconds: 600
  /characters/{character_id}/wallet/journal/:
    get:
      tags:
      - "Wallet"
      summary: "Get character wallet journal"
      description: "Retrieve the given character's wallet journal going 30 days back\n\
        \n---\nAlternate route: `/legacy/characters/{character_id}/wallet/journal/`\n\
        \n---\nThis route is cached for up to 3600 seconds\n\n---\nWarning: This route\
        \ is deprecated\n\n---\n[Diff of the upcoming changes](https://esi.evetech.net/diff/v5/dev/#GET-/characters/{character_id}/wallet/journal/)"
      operationId: "get_characters_character_id_wallet_journal"
      parameters:
      - name: "character_id"
        in: "path"
        description: "An EVE character ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CharacterId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        x-exportParamName: "Datasource"
      - name: "If-None-Match"
        in: "header"
        description: "ETag from a previous request. A 304 will be returned if this\
          \ matches the current ETag"
        required: false
        type: "string"
        x-exportParamName: "IfNoneMatch"
      - name: "page"
        in: "query"
        description: "Which page of results to return"
        required: false
        type: "integer"
        default: 1
        minimum: 1
        format: "int32"
        x-exportParamName: "Page"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
      responses:
        200:
          description: "Journal entries"
          schema:
            type: "array"
            description: "Wallet journal entries"
            title: "get_characters_character_id_wallet_journal_ok"
            items:
              $ref: "#/definitions/get_characters_character_id_wallet_journal_200_ok"
            maxItems: 2500
          examples:
            application/json:
            - amount: -100000
              balance: 500000.4316
              context_id: 4
              context_id_type: "contract_id"
              date: "2018-02-23T14:31:32Z"
              description: "Contract Deposit"
              first_party_id: 2112625428
              id: 89
              ref_type: "contract_deposit"
              second_party_id: 1000132
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
            X-Pages:
              type: "integer"
              format: "int32"
              description: "Maximum page number"
              default: 1
        304:
          description: "Not modified"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/unauthorized"
          examples:
            application/json:
              error: "Unauthorized message"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/forbidden"
          examples:
            application/json:
              error: "Forbidden message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      security:
      - evesso:
        - "esi-wallet.read_character_wallet.v1"
      deprecated: true
      x-alternate-versions:
      - "legacy"
      x-cached-seconds: 3600
  /corporations/{corporation_id}/:
    get:
      tags:
      - "Corporation"
      summary: "Get corporation information"
      description: "Public information about a corporation\n\n---\nAlternate route:\
        \ `/dev/corporations/{corporation_id}/`\n\nAlternate route: `/latest/corporations/{corporation_id}/`\n\
        \n---\nThis route is cached for up to 3600 seconds"
      operationId: "get_corporations_corporation_id"
      parameters:
      - name: "corporation_id"
        in: "path"
        description: "An EVE corporation ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CorporationId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        x-exportParamName: "Datasource"
      - name: "If-None-Match"
        in: "header"
        description: "ETag from a previous request. A 304 will be returned if this\
          \ matches the current ETag"
        required: false
        type: "string"
        x-exportParamName: "IfNoneMatch"
      responses:
        200:
          description: "Public information about a corporation"
          schema:
            $ref: "#/definitions/get_corporations_corporation_id_ok"
          examples:
            application/json:
              alliance_id: 434243723
              ceo_id: 180548812
              creator_id: 180548812
              date_founded: "2004-11-28T16:42:51Z"
              description: "This is a corporation description, it's basically just\
                \ a string"
              member_count: 656
              name: "C C P"
              tax_rate: 0.256
              ticker: "-CCP-"
              url: "http://www.eveonline.com"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        304:
          description: "Not modified"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        404:
          description: "Corporation not found"
          schema:
            $ref: "#/definitions/get_corporations_corporation_id_not_found"
          examples:
            application/json:
              error: "Not found message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      x-alternate-versions:
      - "dev"
      - "latest"
      x-cached-seconds: 3600
  /corporations/{corporation_id}/assets/:
    get:
      tags:
      - "Assets"
      summary: "Get corporation assets"
      description: "Return a list of the corporation assets\n\n---\nAlternate route:\
        \ `/dev/corporations/{corporation_id}/assets/`\n\nAlternate route: `/latest/corporations/{corporation_id}/assets/`\n\
        \n---\nThis route is cached for up to 3600 seconds\n\n---\nRequires one of\
        \ the following EVE corporation role(s): Director\n"
      operationId: "get_corporations_corporation_id_assets"
      parameters:
      - name: "corporation_id"
        in: "path"
        description: "An EVE corporation ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CorporationId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        x-exportParamName: "Datasource"
      - name: "If-None-Match"
        in: "header"
        description: "ETag from a previous request. A 304 will be returned if this\
          \ matches the current ETag"
        required: false
        type: "string"
        x-exportParamName: "IfNoneMatch"
      - name: "page"
        in: "query"
        description: "Which page of results to return"
        required: false
        type: "integer"
        default: 1
        minimum: 1
        format: "int32"
        x-exportParamName: "Page"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
      responses:
        200:
          description: "A list of assets"
          schema:
            type: "array"
            description: "200 ok array"
            title: "get_corporations_corporation_id_assets_ok"
            items:
              $ref: "#/definitions/get_corporations_corporation_id_assets_200_ok"
            maxItems: 1000
          examples:
            application/json:
            - is_blueprint_copy: true
              is_singleton: true
              item_id: 1000000016835
              location_flag: "Hangar"
              location_id: 60002959
              location_type: "station"
              quantity: 1
              type_id: 3516
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
            X-Pages:
              type: "integer"
              format: "int32"
              description: "Maximum page number"
              default: 1
        304:
          description: "Not modified"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/unauthorized"
          examples:
            application/json:
              error: "Unauthorized message"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/forbidden"
          examples:
            application/json:
              error: "Forbidden message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      security:
      - evesso:
        - "esi-assets.read_corporation_assets.v1"
      x-alternate-versions:
      - "dev"
      - "latest"
      x-cached-seconds: 3600
      x-required-roles:
      - "Director"
securityDefinitions:
  evesso:
    type: "oauth2"
    authorizationUrl: "https://login.eveonline.com/v2/oauth/authorize"
    flow: "implicit"
    scopes:
      esi-assets.read_assets.v1: "EVE SSO scope esi-assets.read_assets.v1"
      esi-assets.read_corporation_assets.v1: "EVE SSO scope esi-assets.read_corporation_assets.v1"
      esi-characters.read_contacts.v1: "EVE SSO scope esi-characters.read_contacts.v1"
      esi-characters.read_notifications.v1: "EVE SSO scope esi-characters.read_notifications.v1"
      esi-wallet.read_character_wallet.v1: "EVE SSO scope esi-wallet.read_character_wallet.v1"
definitions:
  bad_request:
    type: "object"
    required:
    - "error"
    properties:
      error:
        type: "string"
        description: "Bad request message"
    title: "Bad request"
    description: "Bad request model"
  error_limited:
    type: "object"
    required:
    - "error"
    properties:
      error:
        type: "string"
        description: "Error limited message"
    title: "Error limited"
    description: "Error limited model"
  forbidden:
    type: "object"
    required:
    - "error"
    properties:
      error:
        type: "string"
        description: "Forbidden message"
      sso_status:
        type: "integer"
        description: "status code received from SSO"
    title: "Forbidden"
    description: "Forbidden model"
  gateway_timeout:
    type: "object"
    required:
    - "error"
    properties:
      error:
        type: "string"
        description: "Gateway timeout message"
      timeout:
        type: "integer"
        description: "number of seconds the request was given"
    title: "Gateway timeout"
    description: "Gateway timeout model"
  internal_server_error:
    type: "object"
    required:
    - "error"
    properties:
      error:
        type: "string"
        description: "Internal server error message"
    title: "Internal server error"
    description: "Internal server error model"
  service_unavailable:
    type: "object"
    required:
    - "error"
    properties:
      error:
        type: "string"
        description: "Service unavailable message"
    title: "Service unavailable"
    description: "Service unavailable model"
  unauthorized:
    type: "object"
    required:
    - "error"
    properties:
      error:
        type: "string"
        description: "Unauthorized message"
    title: "Unauthorized"
    description: "Unauthorized model"
  get_characters_character_id_ok:
    required:
    - "birthday"
    - "bloodline_id"
    - "corporation_id"
    - "gender"
    - "name"
    - "race_id"
    properties:
      alliance_id:
        type: "integer"
        format: "int32"
        description: "The character's alliance ID"
        title: "get_characters_character_id_alliance_id"
      birthday:
        type: "string"
        format: "date-time"
        description: "Creation date of the character"
        title: "get_characters_character_id_birthday"
      bloodline_id:
        type: "integer"
        format: "int32"
        description: "bloodline_id integer"
        title: "get_characters_character_id_bloodline_id"
      corporation_id:
        type: "integer"
        format: "int32"
        description: "The character's corporation ID"
        title: "get_characters_character_id_corporation_id"
      description:
        type: "string"
        description: "description string"
        title: "get_characters_character_id_description"
      faction_id:
        type: "integer"
        format: "int32"
        description: "ID of the faction the character is fighting for, if the character\
          \ is enlisted in Factional Warfare"
        title: "get_characters_character_id_faction_id"
      gender:
        type: "string"
        description: "gender string"
        title: "get_characters_character_id_gender"
        enum:
        - "female"
        - "male"
      name:
        type: "string"
        description: "name string"
        title: "get_characters_character_id_name"
      race_id:
        type: "integer"
        format: "int32"
        description: "race_id integer"
        title: "get_characters_character_id_race_id"
      security_status:
        type: "number"
        format: "float"
        description: "security_status number"
        title: "get_characters_character_id_security_status"
        minimum: -10
        maximum: 10
      title:
        type: "string"
        description: "The individual title of the character"
        title: "get_characters_character_id_title"
    description: "200 ok object"
  get_characters_character_id_not_found:
    properties:
      error:
        type: "string"
        description: "Not found message"
        title: "get_characters_character_id_404_not_found"
    description: "Not found"
  get_characters_character_id_assets_200_ok:
    required:
    - "is_singleton"
    - "item_id"
    - "location_flag"
    - "location_id"
    - "location_type"
    - "quantity"
    - "type_id"
    properties:
      is_blueprint_copy:
        type: "boolean"
        description: "is_blueprint_copy boolean"
        title: "get_characters_character_id_assets_is_blueprint_copy"
      is_singleton:
        type: "boolean"
        description: "is_singleton boolean"
        title: "get_characters_character_id_assets_is_singleton"
      item_id:
        type: "integer"
        format: "int64"
        description: "item_id integer"
        title: "get_characters_character_id_assets_item_id"
      location_flag:
        type: "string"
        description: "location_flag string"
        title: "get_characters_character_id_assets_location_flag"
        enum:
        - "AssetSafety"
        - "AutoFit"
        - "BoosterBay"
        - "Cargo"
        - "CorpseBay"
        - "Deliveries"
        - "DroneBay"
        - "FighterBay"
        - "FighterTube0"
        - "FighterTube1"
        - "FighterTube2"
        - "FighterTube3"
        - "FighterTube4"
        - "FleetHangar"
        - "FrigateEscapeBay"
        - "Hangar"
        - "HangarAll"
        - "HiSlot0"
        - "HiSlot1"
        - "HiSlot2"
        - "HiSlot3"
        - "HiSlot4"
        - "HiSlot5"
        - "HiSlot6"
        - "HiSlot7"
        - "HiddenModifiers"
        - "Implant"
        - "LoSlot0"
        - "LoSlot1"
        - "LoSlot2"
        - "LoSlot3"
        - "LoSlot4"
        - "LoSlot5"
        - "LoSlot6"
        - "LoSlot7"
        - "Locked"
        - "MedSlot0"
        - "MedSlot1"
        - "MedSlot2"
        - "MedSlot3"
        - "MedSlot4"
        - "MedSlot5"
        - "MedSlot6"
        - "MedSlot7"
        - "QuafeBay"
        - "RigSlot0"
        - "RigSlot1"
        - "RigSlot2"
        - "RigSlot3"
        - "RigSlot4"
        - "RigSlot5"
        - "RigSlot6"
        - "RigSlot7"
        - "ShipHangar"
        - "Skill"
        - "SpecializedAmmoHold"
        - "SpecializedAsteroidHold"
        - "SpecializedCommandCenterHold"
        - "SpecializedFuelBay"
        - "SpecializedGasHold"
        - "SpecializedIceHold"
        - "SpecializedIndustrialShipHold"
        - "SpecializedLargeShipHold"
        - "SpecializedMaterialBay"
        - "SpecializedMediumShipHold"
        - "SpecializedMineralHold"
        - "SpecializedOreHold"
        - "SpecializedPlanetaryCommoditiesHold"
        - "SpecializedSalvageHold"
        - "SpecializedShipHold"
        - "SpecializedSmallShipHold"
        - "StructureDeedBay"
        - "SubSystemBay"
        - "SubSystemSlot0"
        - "SubSystemSlot1"
        - "SubSystemSlot2"
        - "SubSystemSlot3"
        - "SubSystemSlot4"
        - "SubSystemSlot5"
        - "SubSystemSlot6"
        - "SubSystemSlot7"
        - "Unlocked"
        - "Wardrobe"
      location_id:
        type: "integer"
        format: "int64"
        description: "location_id integer"
        title: "get_characters_character_id_assets_location_id"
      location_type:
        type: "string"
        description: "location_type string"
        title: "get_characters_character_id_assets_location_type"
        enum:
        - "station"
        - "solar_system"
        - "item"
        - "other"
      quantity:
        type: "integer"
        format: "int32"
        description: "quantity integer"
        title: "get_characters_character_id_assets_quantity"
      type_id:
        type: "integer"
        format: "int32"
        description: "type_id integer"
        title: "get_characters_character_id_assets_type_id"
    description: "200 ok object"
  get_characters_character_id_assets_not_found:
    properties:
      error:
        type: "string"
        description: "error message"
        title: "get_characters_character_id_assets_error"
    description: "Requested page does not exist"
  get_characters_character_id_notifications_200_ok:
    required:
    - "notification_id"
    - "sender_id"
    - "sender_type"
    - "timestamp"
    - "type"
    properties:
      is_read:
        type: "boolean"
        description: "is_read boolean"
        title: "get_characters_character_id_notifications_is_read"
      notification_id:
        type: "integer"
        format: "int64"
        description: "notification_id integer"
        title: "get_characters_character_id_notifications_notification_id"
      sender_id:
        type: "integer"
        format: "int32"
        description: "sender_id integer"
        title: "get_characters_character_id_notifications_sender_id"
      sender_type:
        type: "string"
        description: "sender_type string"
        title: "get_characters_character_id_notifications_sender_type"
        enum:
        - "character"
        - "corporation"
        - "alliance"
        - "faction"
        - "other"
      text:
        type: "string"
        description: "text string"
        title: "get_characters_character_id_notifications_text"
      timestamp:
        type: "string"
        format: "date-time"
        description: "timestamp string"
        title: "get_characters_character_id_notifications_timestamp"
      type:
        type: "string"
        description: "type string"
        title: "get_characters_character_id_notifications_type"
        enum:
        - "AcceptedAlly"
        - "AcceptedSurrender"
        - "AgentRetiredTrigravian"
        - "AllAnchoringMsg"
        - "AllMaintenanceBillMsg"
        - "AllStrucInvulnerableMsg"
        - "AllStructVulnerableMsg"
        - "AllWarCorpJoinedAllianceMsg"
        - "AllWarDeclaredMsg"
        - "AllWarInvalidatedMsg"
        - "AllWarRetractedMsg"
        - "AllWarSurrenderMsg"
        - "AllianceCapitalChanged"
        - "AllianceWarDeclaredV2"
        - "AllyContractCancelled"
        - "AllyJoinedWarAggressorMsg"
        - "AllyJoinedWarAllyMsg"
        - "AllyJoinedWarDefenderMsg"
        - "BattlePunishFriendlyFire"
        - "BillOutOfMoneyMsg"
        - "BillPaidCorpAllMsg"
        - "BountyClaimMsg"
        - "BountyESSShared"
        - "BountyESSTaken"
        - "BountyPlacedAlliance"
        - "BountyPlacedChar"
        - "BountyPlacedCorp"
        - "BountyYourBountyClaimed"
        - "BuddyConnectContactAdd"
        - "CharAppAcceptMsg"
        - "CharAppRejectMsg"
        - "CharAppWithdrawMsg"
        - "CharLeftCorpMsg"
        - "CharMedalMsg"
        - "CharTerminationMsg"
        - "CloneActivationMsg"
        - "CloneActivationMsg2"
        - "CloneMovedMsg"
        - "CloneRevokedMsg1"
        - "CloneRevokedMsg2"
        - "CombatOperationFinished"
        - "ContactAdd"
        - "ContactEdit"
        - "ContainerPasswordMsg"
        - "ContractRegionChangedToPochven"
        - "CorpAllBillMsg"
        - "CorpAppAcceptMsg"
        - "CorpAppInvitedMsg"
        - "CorpAppNewMsg"
        - "CorpAppRejectCustomMsg"
        - "CorpAppRejectMsg"
        - "CorpBecameWarEligible"
        - "CorpDividendMsg"
        - "CorpFriendlyFireDisableTimerCompleted"
        - "CorpFriendlyFireDisableTimerStarted"
        - "CorpFriendlyFireEnableTimerCompleted"
        - "CorpFriendlyFireEnableTimerStarted"
        - "CorpKicked"
        - "CorpLiquidationMsg"
        - "CorpNewCEOMsg"
        - "CorpNewsMsg"
        - "CorpNoLongerWarEligible"
        - "CorpOfficeExpirationMsg"
        - "CorpStructLostMsg"
        - "CorpTaxChangeMsg"
        - "CorpVoteCEORevokedMsg"
        - "CorpVoteMsg"
        - "CorpWarDeclaredMsg"
        - "CorpWarDeclaredV2"
        - "CorpWarFightingLegalMsg"
        - "CorpWarInvalidatedMsg"
        - "CorpWarRetractedMsg"
        - "CorpWarSurrenderMsg"
        - "CustomsMsg"
        - "DeclareWar"
        - "DistrictAttacked"
        - "DustAppAcceptedMsg"
        - "ESSMainBankLink"
        - "EntosisCaptureStarted"
        - "ExpertSystemExpired"
        - "ExpertSystemExpiryImminent"
        - "FWAllianceKickMsg"
        - "FWAllianceWarningMsg"
        - "FWCharKickMsg"
        - "FWCharRankGainMsg"
        - "FWCharRankLossMsg"
        - "FWCharWarningMsg"
        - "FWCorpJoinMsg"
        - "FWCorpKickMsg"
        - "FWCorpLeaveMsg"
        - "FWCorpWarningMsg"
        - "FacWarCorpJoinRequestMsg"
        - "FacWarCorpJoinWithdrawMsg"
        - "FacWarCorpLeaveRequestMsg"
        - "FacWarCorpLeaveWithdrawMsg"
        - "FacWarLPDisqualifiedEvent"
        - "FacWarLPDisqualifiedKill"
        - "FacWarLPPayoutEvent"
        - "FacWarLPPayoutKill"
        - "GameTimeAdded"
        - "GameTimeReceived"
        - "GameTimeSent"
        - "GiftReceived"
        - "IHubDestroyedByBillFailure"
        - "IncursionCompletedMsg"
        - "IndustryOperationFinished"
        - "IndustryTeamAuctionLost"
        - "IndustryTeamAuctionWon"
        - "InfrastructureHubBillAboutToExpire"
        - "InsuranceExpirationMsg"
        - "InsuranceFirstShipMsg"
        - "InsuranceInvalidatedMsg"
        - "InsuranceIssuedMsg"
        - "InsurancePayoutMsg"
        - "InvasionCompletedMsg"
        - "InvasionSystemLogin"
        - "InvasionSystemStart"
        - "JumpCloneDeletedMsg1"
        - "JumpCloneDeletedMsg2"
        - "KillReportFinalBlow"
        - "KillReportVictim"
        - "KillRightAvailable"
        - "KillRightAvailableOpen"
        - "KillRightEarned"
        - "KillRightUnavailable"
        - "KillRightUnavailableOpen"
        - "KillRightUsed"
        - "LocateCharMsg"
        - "MadeWarMutual"
        - "MercOfferRetractedMsg"
        - "MercOfferedNegotiationMsg"
        - "MissionCanceledTriglavian"
        - "MissionOfferExpirationMsg"
        - "MissionTimeoutMsg"
        - "MoonminingAutomaticFracture"
        - "MoonminingExtractionCancelled"
        - "MoonminingExtractionFinished"
        - "MoonminingExtractionStarted"
        - "MoonminingLaserFired"
        - "MutualWarExpired"
        - "MutualWarInviteAccepted"
        - "MutualWarInviteRejected"
        - "MutualWarInviteSent"
        - "NPCStandingsGained"
        - "NPCStandingsLost"
        - "OfferToAllyRetracted"
        - "OfferedSurrender"
        - "OfferedToAlly"
        - "OfficeLeaseCanceledInsufficientStandings"
        - "OldLscMessages"
        - "OperationFinished"
        - "OrbitalAttacked"
        - "OrbitalReinforced"
        - "OwnershipTransferred"
        - "RaffleCreated"
        - "RaffleExpired"
        - "RaffleFinished"
        - "ReimbursementMsg"
        - "ResearchMissionAvailableMsg"
        - "RetractsWar"
        - "SeasonalChallengeCompleted"
        - "SovAllClaimAquiredMsg"
        - "SovAllClaimLostMsg"
        - "SovCommandNodeEventStarted"
        - "SovCorpBillLateMsg"
        - "SovCorpClaimFailMsg"
        - "SovDisruptorMsg"
        - "SovStationEnteredFreeport"
        - "SovStructureDestroyed"
        - "SovStructureReinforced"
        - "SovStructureSelfDestructCancel"
        - "SovStructureSelfDestructFinished"
        - "SovStructureSelfDestructRequested"
        - "SovereigntyIHDamageMsg"
        - "SovereigntySBUDamageMsg"
        - "SovereigntyTCUDamageMsg"
        - "StationAggressionMsg1"
        - "StationAggressionMsg2"
        - "StationConquerMsg"
        - "StationServiceDisabled"
        - "StationServiceEnabled"
        - "StationStateChangeMsg"
        - "StoryLineMissionAvailableMsg"
        - "StructureAnchoring"
        - "StructureCourierContractChanged"
        - "StructureDestroyed"
        - "StructureFuelAlert"
        - "StructureImpendingAbandonmentAssetsAtRisk"
        - "StructureItemsDelivered"
        - "StructureItemsMovedToSafety"
        - "StructureLostArmor"
        - "StructureLostShields"
        - "StructureOnline"
        - "StructureServicesOffline"
        - "StructureUnanchoring"
        - "StructureUnderAttack"
        - "StructureWentHighPower"
        - "StructureWentLowPower"
        - "StructuresJobsCancelled"
        - "StructuresJobsPaused"
        - "StructuresReinforcementChanged"
        - "TowerAlertMsg"
        - "TowerResourceAlertMsg"
        - "TransactionReversalMsg"
        - "TutorialMsg"
        - "WarAdopted "
        - "WarAllyInherited"
        - "WarAllyOfferDeclinedMsg"
        - "WarConcordInvalidates"
        - "WarDeclared"
        - "WarEndedHqSecurityDrop"
        - "WarHQRemovedFromSpace"
        - "WarInherited"
        - "WarInvalid"
        - "WarRetracted"
        - "WarRetractedByConcord"
        - "WarSurrenderDeclinedMsg"
        - "WarSurrenderOfferMsg"
    description: "200 ok object"
  get_characters_character_id_wallet_journal_200_ok:
    required:
    - "date"
    - "description"
    - "id"
    - "ref_type"
    properties:
      amount:
        type: "number"
        format: "double"
        description: "The amount of ISK given or taken from the wallet as a result\
          \ of the given transaction. Positive when ISK is deposited into the wallet\
          \ and negative when ISK is withdrawn"
        title: "get_characters_character_id_wallet_journal_amount"
      balance:
        type: "number"
        format: "double"
        description: "Wallet balance after transaction occurred"
        title: "get_characters_character_id_wallet_journal_balance"
      context_id:
        type: "integer"
        format: "int64"
        description: "An ID that gives extra context to the particular transaction.\
          \ Because of legacy reasons the context is completely different per ref_type\
          \ and means different things. It is also possible to not have a context_id"
        title: "get_characters_character_id_wallet_journal_context_id"
      context_id_type:
        type: "string"
        description: "The type of the given context_id if present"
        title: "get_characters_character_id_wallet_journal_context_id_type"
        enum:
        - "structure_id"
        - "station_id"
        - "market_transaction_id"
        - "character_id"
        - "corporation_id"
        - "alliance_id"
        - "eve_system"
        - "industry_job_id"
        - "contract_id"
        - "planet_id"
        - "system_id"
        - "type_id"
      date:
        type: "string"
        format: "date-time"
        description: "Date and time of transaction"
        title: "get_characters_character_id_wallet_journal_date"
      description:
        type: "string"
        description: "The reason for the transaction, mirrors what is seen in the\
          \ client"
        title: "get_characters_character_id_wallet_journal_description"
      first_party_id:
        type: "integer"
        format: "int32"
        description: "The id of the first party involved in the transaction. This\
          \ attribute has no consistency and is different or non existant for particular\
          \ ref_types. The description attribute will help make sense of what this\
          \ attribute means. For more info about the given ID it can be dropped into\
          \ the /universe/names/ ESI route to determine its type and name"
        title: "get_characters_character_id_wallet_journal_first_party_id"
      id:
        type: "integer"
        format: "int64"
        description: "Unique journal reference ID"
        title: "get_characters_character_id_wallet_journal_id"
      reason:
        type: "string"
        description: "The user stated reason for the transaction. Only applies to\
          \ some ref_types"
        title: "get_characters_character_id_wallet_journal_reason"
      ref_type:
        type: "string"
        description: "\"The transaction type for the given. transaction. Different\
          \ transaction types will populate different attributes.\""
        title: "get_characters_character_id_wallet_journal_ref_type"
        enum:
        - "acceleration_gate_fee"
        - "advertisement_listing_fee"
        - "agent_donation"
        - "agent_location_services"
        - "agent_miscellaneous"
        - "agent_mission_collateral_paid"
        - "agent_mission_collateral_refunded"
        - "agent_mission_reward"
        - "agent_mission_reward_corporation_tax"
        - "agent_mission_time_bonus_reward"
        - "agent_mission_time_bonus_reward_corporation_tax"
        - "agent_security_services"
        - "agent_services_rendered"
        - "agents_preward"
        - "alliance_maintainance_fee"
        - "alliance_registration_fee"
        - "asset_safety_recovery_tax"
        - "bounty"
        - "bounty_prize"
        - "bounty_prize_corporation_tax"
        - "bounty_prizes"
        - "bounty_reimbursement"
        - "bounty_surcharge"
        - "brokers_fee"
        - "clone_activation"
        - "clone_transfer"
        - "contraband_fine"
        - "contract_auction_bid"
        - "contract_auction_bid_corp"
        - "contract_auction_bid_refund"
        - "contract_auction_sold"
        - "contract_brokers_fee"
        - "contract_brokers_fee_corp"
        - "contract_collateral"
        - "contract_collateral_deposited_corp"
        - "contract_collateral_payout"
        - "contract_collateral_refund"
        - "contract_deposit"
        - "contract_deposit_corp"
        - "contract_deposit_refund"
        - "contract_deposit_sales_tax"
        - "contract_price"
        - "contract_price_payment_corp"
        - "contract_reversal"
        - "contract_reward"
        - "contract_reward_deposited"
        - "contract_reward_deposited_corp"
        - "contract_reward_refund"
        - "contract_sales_tax"
        - "copying"
        - "corporate_reward_payout"
        - "corporate_reward_tax"
        - "corporation_account_withdrawal"
        - "corporation_bulk_payment"
        - "corporation_dividend_payment"
        - "corporation_liquidation"
        - "corporation_logo_change_cost"
        - "corporation_payment"
        - "corporation_registration_fee"
        - "courier_mission_escrow"
        - "cspa"
        - "cspaofflinerefund"
        - "datacore_fee"
        - "dna_modification_fee"
        - "docking_fee"
        - "duel_wager_escrow"
        - "duel_wager_payment"
        - "duel_wager_refund"
        - "factory_slot_rental_fee"
        - "gm_cash_transfer"
        - "industry_job_tax"
        - "infrastructure_hub_maintenance"
        - "inheritance"
        - "insurance"
        - "jump_clone_activation_fee"
        - "jump_clone_installation_fee"
        - "kill_right_fee"
        - "lp_store"
        - "manufacturing"
        - "market_escrow"
        - "market_fine_paid"
        - "market_transaction"
        - "medal_creation"
        - "medal_issued"
        - "mission_completion"
        - "mission_cost"
        - "mission_expiration"
        - "mission_reward"
        - "office_rental_fee"
        - "operation_bonus"
        - "opportunity_reward"
        - "planetary_construction"
        - "planetary_export_tax"
        - "planetary_import_tax"
        - "player_donation"
        - "player_trading"
        - "project_discovery_reward"
        - "project_discovery_tax"
        - "reaction"
        - "release_of_impounded_property"
        - "repair_bill"
        - "reprocessing_tax"
        - "researching_material_productivity"
        - "researching_technology"
        - "researching_time_productivity"
        - "resource_wars_reward"
        - "reverse_engineering"
        - "security_processing_fee"
        - "shares"
        - "sovereignity_bill"
        - "store_purchase"
        - "store_purchase_refund"
        - "structure_gate_jump"
        - "transaction_tax"
        - "upkeep_adjustment_fee"
        - "war_ally_contract"
        - "war_fee"
        - "war_fee_surrender"
      second_party_id:
        type: "integer"
        format: "int32"
        description: "The id of the second party involved in the transaction. This\
          \ attribute has no consistency and is different or non existant for particular\
          \ ref_types. The description attribute will help make sense of what this\
          \ attribute means. For more info about the given ID it can be dropped into\
          \ the /universe/names/ ESI route to determine its type and name"
        title: "get_characters_character_id_wallet_journal_second_party_id"
      tax:
        type: "number"
        format: "double"
        description: "Tax amount received. Only applies to tax related transactions"
        title: "get_characters_character_id_wallet_journal_tax"
      tax_receiver_id:
        type: "integer"
        format: "int32"
        description: "The corporation ID receiving any tax paid. Only applies to tax\
          \ related transactions"
        title: "get_characters_character_id_wallet_journal_tax_receiver_id"
    description: "200 ok object"
  get_corporations_corporation_id_ok:
    required:
    - "ceo_id"
    - "creator_id"
    - "member_count"
    - "name"
    - "tax_rate"
    - "ticker"
    properties:
      alliance_id:
        type: "integer"
        format: "int32"
        description: "ID of the alliance that corporation is a member of, if any"
        title: "get_corporations_corporation_id_alliance_id"
      ceo_id:
        type: "integer"
        format: "int32"
        description: "ceo_id integer"
        title: "get_corporations_corporation_id_ceo_id"
      creator_id:
        type: "integer"
        format: "int32"
        description: "creator_id integer"
        title: "get_corporations_corporation_id_creator_id"
      date_founded:
        type: "string"
        format: "date-time"
        description: "date_founded string"
        title: "get_corporations_corporation_id_date_founded"
      description:
        type: "string"
        description: "description string"
        title: "get_corporations_corporation_id_description"
      faction_id:
        type: "integer"
        format: "int32"
        description: "faction_id integer"
        title: "get_corporations_corporation_id_faction_id"
      home_station_id:
        type: "integer"
        format: "int32"
        description: "home_station_id integer"
        title: "get_corporations_corporation_id_home_station_id"
      member_count:
        type: "integer"
        format: "int32"
        description: "member_count integer"
        title: "get_corporations_corporation_id_member_count"
      name:
        type: "string"
        description: "the full name of the corporation"
        title: "get_corporations_corporation_id_name"
      shares:
        type: "integer"
        format: "int64"
        description: "shares integer"
        title: "get_corporations_corporation_id_shares"
      tax_rate:
        type: "number"
        format: "float"
        description: "tax_rate number"
        title: "get_corporations_corporation_id_tax_rate"
        minimum: 0
        maximum: 1
      ticker:
        type: "string"
        description: "the short name of the corporation"
        title: "get_corporations_corporation_id_ticker"
      url:
        type: "string"
        description: "url string"
        title: "get_corporations_corporation_id_url"
      war_eligible:
        type: "boolean"
        description: "war_eligible boolean"
        title: "get_corporations_corporation_id_war_eligible"
    description: "200 ok object"
  get_corporations_corporation_id_not_found:
    properties:
      error:
        type: "string"
        description: "Not found message"
        title: "get_corporations_corporation_id_404_not_found"
    description: "Not found"
  get_corporations_corporation_id_assets_200_ok:
    required:
    - "is_singleton"
    - "item_id"
    - "location_flag"
    - "location_id"
    - "location_type"
    - "quantity"
    - "type_id"
    properties:
      is_blueprint_copy:
        type: "boolean"
        description: "is_blueprint_copy boolean"
        title: "get_corporations_corporation_id_assets_is_blueprint_copy"
      is_singleton:
        type: "boolean"
        description: "is_singleton boolean"
        title: "get_corporations_corporation_id_assets_is_singleton"
      item_id:
        type: "integer"
        format: "int64"
        description: "item_id integer"
        title: "get_corporations_corporation_id_assets_item_id"
      location_flag:
        type: "string"
        description: "location_flag string"
        title: "get_corporations_corporation_id_assets_location_flag"
        enum:
        - "AssetSafety"
        - "AutoFit"
        - "Bonus"
        - "Booster"
        - "BoosterBay"
        - "Capsule"
        - "Cargo"
        - "CorpDeliveries"
        - "CorpSAG1"
        - "CorpSAG2"
        - "CorpSAG3"
        - "CorpSAG4"
        - "CorpSAG5"
        - "CorpSAG6"
        - "CorpSAG7"
        - "CrateLoot"
        - "Deliveries"
        - "DroneBay"
        - "DustBattle"
        - "DustDatabank"
        - "FighterBay"
        - "FighterTube0"
        - "FighterTube1"
        - "FighterTube2"
        - "FighterTube3"
        - "FighterTube4"
        - "FleetHangar"
        - "FrigateEscapeBay"
        - "Hangar"
        - "HangarAll"
        - "HiSlot0"
        - "HiSlot1"
        - "HiSlot2"
        - "HiSlot3"
        - "HiSlot4"
        - "HiSlot5"
        - "HiSlot6"
        - "HiSlot7"
        - "HiddenModifiers"
        - "Implant"
        - "Impounded"
        - "JunkyardReprocessed"
        - "JunkyardTrashed"
        - "LoSlot0"
        - "LoSlot1"
        - "LoSlot2"
        - "LoSlot3"
        - "LoSlot4"
        - "LoSlot5"
        - "LoSlot6"
        - "LoSlot7"
        - "Locked"
        - "MedSlot0"
        - "MedSlot1"
        - "MedSlot2"
        - "MedSlot3"
        - "MedSlot4"
        - "MedSlot5"
        - "MedSlot6"
        - "MedSlot7"
        - "OfficeFolder"
        - "Pilot"
        - "PlanetSurface"
        - "QuafeBay"
        - "QuantumCoreRoom"
        - "Reward"
        - "RigSlot0"
        - "RigSlot1"
        - "RigSlot2"
        - "RigSlot3"
        - "RigSlot4"
        - "RigSlot5"
        - "RigSlot6"
        - "RigSlot7"
        - "SecondaryStorage"
        - "ServiceSlot0"
        - "ServiceSlot1"
        - "ServiceSlot2"
        - "ServiceSlot3"
        - "ServiceSlot4"
        - "ServiceSlot5"
        - "ServiceSlot6"
        - "ServiceSlot7"
        - "ShipHangar"
        - "ShipOffline"
        - "Skill"
        - "SkillInTraining"
        - "SpecializedAmmoHold"
        - "SpecializedAsteroidHold"
        - "SpecializedCommandCenterHold"
        - "SpecializedFuelBay"
        - "SpecializedGasHold"
        - "SpecializedIceHold"
        - "SpecializedIndustrialShipHold"
        - "SpecializedLargeShipHold"
        - "SpecializedMaterialBay"
        - "SpecializedMediumShipHold"
        - "SpecializedMineralHold"
        - "SpecializedOreHold"
        - "SpecializedPlanetaryCommoditiesHold"
        - "SpecializedSalvageHold"
        - "SpecializedShipHold"
        - "SpecializedSmallShipHold"
        - "StructureActive"
        - "StructureFuel"
        - "StructureInactive"
        - "StructureOffline"
        - "SubSystemBay"
        - "SubSystemSlot0"
        - "SubSystemSlot1"
        - "SubSystemSlot2"
        - "SubSystemSlot3"
        - "SubSystemSlot4"
        - "SubSystemSlot5"
        - "SubSystemSlot6"
        - "SubSystemSlot7"
        - "Unlocked"
        - "Wallet"
        - "Wardrobe"
      location_id:
        type: "integer"
        format: "int64"
        description: "location_id integer"
        title: "get_corporations_corporation_id_assets_location_id"
      location_type:
        type: "string"
        description: "location_type string"
        title: "get_corporations_corporation_id_assets_location_type"
        enum:
        - "station"
        - "solar_system"
        - "item"
        - "other"
      quantity:
        type: "integer"
        format: "int32"
        description: "quantity integer"
        title: "get_corporations_corporation_id_assets_quantity"
      type_id:
        type: "integer"
        format: "int32"
        description: "type_id integer"
        title: "get_corporations_corporation_id_assets_type_id"
    description: "200 ok object"
parameters:
  Accept-Language:
    name: "Accept-Language"
    in: "header"
    description: "Language to use in the response"
    required: false
    type: "string"
    default: "en"
    enum:
    - "en"
    - "en-us"
    - "de"
    - "fr"
    - "ja"
    - "ru"
    - "zh"
    - "ko"
    - "es"
  If-None-Match:
    name: "If-None-Match"
    in: "header"
    description: "ETag from a previous request. A 304 will be returned if this matches\
      \ the current ETag"
    required: false
    type: "string"
    x-exportParamName: "IfNoneMatch"
  character_id:
    name: "character_id"
    in: "path"
    description: "An EVE character ID"
    required: true
    type: "integer"
    minimum: 1
    format: "int32"
    x-exportParamName: "CharacterId"
  corporation_id:
    name: "corporation_id"
    in: "path"
    description: "An EVE corporation ID"
    required: true
    type: "integer"
    minimum: 1
    format: "int32"
    x-exportParamName: "CorporationId"
  datasource:
    name: "datasource"
    in: "query"
    description: "The server name you would like data from"
    required: false
    type: "string"
    default: "tranquility"
    enum:
    - "tranquility"
    x-exportParamName: "Datasource"
  language:
    name: "language"
    in: "query"
    description: "Language to use in the response, takes precedence over Accept-Language"
    required: false
    type: "string"
    default: "en"
    enum:
    - "en"
    - "en-us"
    - "de"
    - "fr"
    - "ja"
    - "ru"
    - "zh"
    - "ko"
    - "es"
  page:
    name: "page"
    in: "query"
    description: "Which page of results to return"
    required: false
    type: "integer"
    default: 1
    minimum: 1
    format: "int32"
    x-exportParamName: "Page"
  token:
    name: "token"
    in: "query"
    description: "Access token to use if unable to set a header"
    required: false
    type: "string"
    x-exportParamName: "Token"
