---
swagger: "2.0"
info:
  description: "An OpenAPI for EVE Online"
  version: "1.7.2"
  title: "EVE Swagger Interface"
host: "esi.evetech.net"
basePath: "/v6"
schemes:
- "https"
consumes:
- "application/json"
produces:
- "application/json"
paths:
  /characters/{character_id}/notifications/:
    get:
      tags:
      - "Character"
      summary: "Get character notifications"
      description: "Return character notifications\n\n---\nAlternate route: `/dev/characters/{character_id}/notifications/`\n\
        \nAlternate route: `/latest/characters/{character_id}/notifications/`\n\n\
        Alternate route: `/v5/characters/{character_id}/notifications/`\n\n---\nThis\
        \ route is cached for up to 600 seconds"
      operationId: "get_characters_character_id_notifications"
      parameters:
      - name: "character_id"
        in: "path"
        description: "An EVE character ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CharacterId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        x-exportParamName: "Datasource"
      - name: "If-None-Match"
        in: "header"
        description: "ETag from a previous request. A 304 will be returned if this\
          \ matches the current ETag"
        required: false
        type: "string"
        x-exportParamName: "IfNoneMatch"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
      responses:
        200:
          description: "Returns your recent notifications"
          schema:
            type: "array"
            description: "200 ok array"
            title: "get_characters_character_id_notifications_ok"
            items:
              $ref: "#/definitions/get_characters_character_id_notifications_200_ok"
            maxItems: 500
          examples:
            application/json:
            - is_read: true
              notification_id: 1
              sender_id: 1000132
              sender_type: "corporation"
              text: "amount: 3731016.4000000004\\nitemID: 1024881021663\\npayout:\
                \ 1\\n"
              timestamp: "2017-08-16T10:08:00Z"
              type: "InsurancePayoutMsg"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        304:
          description: "Not modified"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/unauthorized"
          examples:
            application/json:
              error: "Unauthorized message"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/forbidden"
          examples:
            application/json:
              error: "Forbidden message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      security:
      - evesso:
        - "esi-characters.read_notifications.v1"
      x-alternate-versions:
      - "dev"
      - "latest"
      - "v5"
      x-cached-seconds: 600
securityDefinitions:
  evesso:
    type: "oauth2"
    authorizationUrl: "https://login.eveonline.com/v2/oauth/authorize"
    flow: "implicit"
    scopes:
      esi-characters.read_notifications.v1: "EVE SSO scope esi-characters.read_notifications.v1"
definitions:
  bad_request:
    type: "object"
    required:
    - "error"
    properties:
      error:
        type: "string"
        description: "Bad request message"
    title: "Bad request"
    description: "Bad request model"
  error_limited:
    type: "object"
    required:
    - "error"
    properties:
      error:
        type: "string"
        description: "Error limited message"
    title: "Error limited"
    description: "Error limited model"
  forbidden:
    type: "object"
    required:
    - "error"
    properties:
      error:
        type: "string"
        description: "Forbidden message"
      sso_status:
        type: "integer"
        description: "status code received from SSO"
    title: "Forbidden"
    description: "Forbidden model"
  gateway_timeout:
    type: "object"
    required:
    - "error"
    properties:
      error:
        type: "string"
        description: "Gateway timeout message"
      timeout:
        type: "integer"
        description: "number of seconds the request was given"
    title: "Gateway timeout"
    description: "Gateway timeout model"
  internal_server_error:
    type: "object"
    required:
    - "error"
    properties:
      error:
        type: "string"
        description: "Internal server error message"
    title: "Internal server error"
    description: "Internal server error model"
  service_unavailable:
    type: "object"
    required:
    - "error"
    properties:
      error:
        type: "string"
        description: "Service unavailable message"
    title: "Service unavailable"
    description: "Service unavailable model"
  unauthorized:
    type: "object"
    required:
    - "error"
    properties:
      error:
        type: "string"
        description: "Unauthorized message"
    title: "Unauthorized"
    description: "Unauthorized model"
  get_characters_character_id_notifications_200_ok:
    required:
    - "notification_id"
    - "sender_id"
    - "sender_type"
    - "timestamp"
    - "type"
    properties:
      is_read:
        type: "boolean"
        description: "is_read boolean"
        title: "get_characters_character_id_notifications_is_read"
      notification_id:
        type: "integer"
        format: "int64"
        description: "notification_id integer"
        title: "get_characters_character_id_notifications_notification_id"
      sender_id:
        type: "integer"
        format: "int32"
        description: "sender_id integer"
        title: "get_characters_character_id_notifications_sender_id"
      sender_type:
        type: "string"
        description: "sender_type string"
        title: "get_characters_character_id_notifications_sender_type"
        enum:
        - "character"
        - "corporation"
        - "alliance"
        - "faction"
        - "other"
      text:
        type: "string"
        description: "text string"
        title: "get_characters_character_id_notifications_text"
      timestamp:
        type: "string"
        format: "date-time"
        description: "timestamp string"
        title: "get_characters_character_id_notifications_timestamp"
      type:
        type: "string"
        description: "type string"
        title: "get_characters_character_id_notifications_type"
        enum:
        - "AcceptedAlly"
        - "AcceptedSurrender"
        - "AgentRetiredTrigravian"
        - "AllAnchoringMsg"
        - "AllMaintenanceBillMsg"
        - "AllStrucInvulnerableMsg"
        - "AllStructVulnerableMsg"
        - "AllWarCorpJoinedAllianceMsg"
        - "AllWarDeclaredMsg"
        - "AllWarInvalidatedMsg"
        - "AllWarRetractedMsg"
        - "AllWarSurrenderMsg"
        - "AllianceCapitalChanged"
        - "AllianceWarDeclaredV2"
        - "AllyContractCancelled"
        - "AllyJoinedWarAggressorMsg"
        - "AllyJoinedWarAllyMsg"
        - "AllyJoinedWarDefenderMsg"
        - "BattlePunishFriendlyFire"
        - "BillOutOfMoneyMsg"
        - "BillPaidCorpAllMsg"
        - "BountyClaimMsg"
        - "BountyESSShared"
        - "BountyESSTaken"
        - "BountyPlacedAlliance"
        - "BountyPlacedChar"
        - "BountyPlacedCorp"
        - "BountyYourBountyClaimed"
        - "BuddyConnectContactAdd"
        - "CharAppAcceptMsg"
        - "CharAppRejectMsg"
        - "CharAppWithdrawMsg"
        - "CharLeftCorpMsg"
        - "CharMedalMsg"
        - "CharTerminationMsg"
        - "CloneActivationMsg"
        - "CloneActivationMsg2"
        - "CloneMovedMsg"
        - "CloneRevokedMsg1"
        - "CloneRevokedMsg2"
        - "CombatOperationFinished"
        - "ContactAdd"
        - "ContactEdit"
        - "ContainerPasswordMsg"
        - "ContractRegionChangedToPochven"
        - "CorpAllBillMsg"
        - "CorpAppAcceptMsg"
        - "CorpAppInvitedMsg"
        - "CorpAppNewMsg"
        - "CorpAppRejectCustomMsg"
        - "CorpAppRejectMsg"
        - "CorpBecameWarEligible"
        - "CorpDividendMsg"
        - "CorpFriendlyFireDisableTimerCompleted"
        - "CorpFriendlyFireDisableTimerStarted"
        - "CorpFriendlyFireEnableTimerCompleted"
        - "CorpFriendlyFireEnableTimerStarted"
        - "CorpKicked"
        - "CorpLiquidationMsg"
        - "CorpNewCEOMsg"
        - "CorpNewsMsg"
        - "CorpNoLongerWarEligible"
        - "CorpOfficeExpirationMsg"
        - "CorpStructLostMsg"
        - "CorpTaxChangeMsg"
        - "CorpVoteCEORevokedMsg"
        - "CorpVoteMsg"
        - "CorpWarDeclaredMsg"
        - "CorpWarDeclaredV2"
        - "CorpWarFightingLegalMsg"
        - "CorpWarInvalidatedMsg"
        - "CorpWarRetractedMsg"
        - "CorpWarSurrenderMsg"
        - "CustomsMsg"
        - "DeclareWar"
        - "DistrictAttacked"
        - "DustAppAcceptedMsg"
        - "ESSMainBankLink"
        - "EntosisCaptureStarted"
        - "FWAllianceKickMsg"
        - "FWAllianceWarningMsg"
        - "FWCharKickMsg"
        - "FWCharRankGainMsg"
        - "FWCharRankLossMsg"
        - "FWCharWarningMsg"
        - "FWCorpJoinMsg"
        - "FWCorpKickMsg"
        - "FWCorpLeaveMsg"
        - "FWCorpWarningMsg"
        - "FacWarCorpJoinRequestMsg"
        - "FacWarCorpJoinWithdrawMsg"
        - "FacWarCorpLeaveRequestMsg"
        - "FacWarCorpLeaveWithdrawMsg"
        - "FacWarLPDisqualifiedEvent"
        - "FacWarLPDisqualifiedKill"
        - "FacWarLPPayoutEvent"
        - "FacWarLPPayoutKill"
        - "GameTimeAdded"
        - "GameTimeReceived"
        - "GameTimeSent"
        - "GiftReceived"
        - "IHubDestroyedByBillFailure"
        - "IncursionCompletedMsg"
        - "IndustryOperationFinished"
        - "IndustryTeamAuctionLost"
        - "IndustryTeamAuctionWon"
        - "InfrastructureHubBillAboutToExpire"
        - "InsuranceExpirationMsg"
        - "InsuranceFirstShipMsg"
        - "InsuranceInvalidatedMsg"
        - "InsuranceIssuedMsg"
        - "InsurancePayoutMsg"
        - "InvasionCompletedMsg"
        - "InvasionSystemLogin"
        - "InvasionSystemStart"
        - "JumpCloneDeletedMsg1"
        - "JumpCloneDeletedMsg2"
        - "KillReportFinalBlow"
        - "KillReportVictim"
        - "KillRightAvailable"
        - "KillRightAvailableOpen"
        - "KillRightEarned"
        - "KillRightUnavailable"
        - "KillRightUnavailableOpen"
        - "KillRightUsed"
        - "LocateCharMsg"
        - "MadeWarMutual"
        - "MercOfferRetractedMsg"
        - "MercOfferedNegotiationMsg"
        - "MissionCanceledTriglavian"
        - "MissionOfferExpirationMsg"
        - "MissionTimeoutMsg"
        - "MoonminingAutomaticFracture"
        - "MoonminingExtractionCancelled"
        - "MoonminingExtractionFinished"
        - "MoonminingExtractionStarted"
        - "MoonminingLaserFired"
        - "MutualWarExpired"
        - "MutualWarInviteAccepted"
        - "MutualWarInviteRejected"
        - "MutualWarInviteSent"
        - "NPCStandingsGained"
        - "NPCStandingsLost"
        - "OfferToAllyRetracted"
        - "OfferedSurrender"
        - "OfferedToAlly"
        - "OfficeLeaseCanceledInsufficientStandings"
        - "OldLscMessages"
        - "OperationFinished"
        - "OrbitalAttacked"
        - "OrbitalReinforced"
        - "OwnershipTransferred"
        - "RaffleCreated"
        - "RaffleExpired"
        - "RaffleFinished"
        - "ReimbursementMsg"
        - "ResearchMissionAvailableMsg"
        - "RetractsWar"
        - "SeasonalChallengeCompleted"
        - "SovAllClaimAquiredMsg"
        - "SovAllClaimLostMsg"
        - "SovCommandNodeEventStarted"
        - "SovCorpBillLateMsg"
        - "SovCorpClaimFailMsg"
        - "SovDisruptorMsg"
        - "SovStationEnteredFreeport"
        - "SovStructureDestroyed"
        - "SovStructureReinforced"
        - "SovStructureSelfDestructCancel"
        - "SovStructureSelfDestructFinished"
        - "SovStructureSelfDestructRequested"
        - "SovereigntyIHDamageMsg"
        - "SovereigntySBUDamageMsg"
        - "SovereigntyTCUDamageMsg"
        - "StationAggressionMsg1"
        - "StationAggressionMsg2"
        - "StationConquerMsg"
        - "StationServiceDisabled"
        - "StationServiceEnabled"
        - "StationStateChangeMsg"
        - "StoryLineMissionAvailableMsg"
        - "StructureAnchoring"
        - "StructureCourierContractChanged"
        - "StructureDestroyed"
        - "StructureFuelAlert"
        - "StructureImpendingAbandonmentAssetsAtRisk"
        - "StructureItemsDelivered"
        - "StructureItemsMovedToSafety"
        - "StructureLostArmor"
        - "StructureLostShields"
        - "StructureOnline"
        - "StructureServicesOffline"
        - "StructureUnanchoring"
        - "StructureUnderAttack"
        - "StructureWentHighPower"
        - "StructureWentLowPower"
        - "StructuresJobsCancelled"
        - "StructuresJobsPaused"
        - "StructuresReinforcementChanged"
        - "TowerAlertMsg"
        - "TowerResourceAlertMsg"
        - "TransactionReversalMsg"
        - "TutorialMsg"
        - "WarAdopted "
        - "WarAllyInherited"
        - "WarAllyOfferDeclinedMsg"
        - "WarConcordInvalidates"
        - "WarDeclared"
        - "WarEndedHqSecurityDrop"
        - "WarHQRemovedFromSpace"
        - "WarInherited"
        - "WarInvalid"
        - "WarRetracted"
        - "WarRetractedByConcord"
        - "WarSurrenderDeclinedMsg"
        - "WarSurrenderOfferMsg"
    description: "200 ok object"
parameters:
  If-None-Match:
    name: "If-None-Match"
    in: "header"
    description: "ETag from a previous request. A 304 will be returned if this matches\
      \ the current ETag"
    required: false
    type: "string"
    x-exportParamName: "IfNoneMatch"
  character_id:
    name: "character_id"
    in: "path"
    description: "An EVE character ID"
    required: true
    type: "integer"
    minimum: 1
    format: "int32"
    x-exportParamName: "CharacterId"
  datasource:
    name: "datasource"
    in: "query"
    description: "The server name you would like data from"
    required: false
    type: "string"
    default: "tranquility"
    enum:
    - "tranquility"
    x-exportParamName: "Datasource"
  page:
    name: "page"
    in: "query"
    description: "Which page of results to return"
    required: false
    type: "integer"
    default: 1
    minimum: 1
    format: "int32"
  token:
    name: "token"
    in: "query"
    description: "Access token to use if unable to set a header"
    required: false
    type: "string"
    x-exportParamName: "Token"
