---
swagger: "2.0"
info:
  description: "An OpenAPI for EVE Online"
  version: "0.7.5"
  title: "EVE Swagger Interface"
host: "esi.evetech.net"
basePath: "/v4"
schemes:
- "https"
produces:
- "application/json"
paths:
  /characters/{character_id}/:
    get:
      tags:
      - "Character"
      summary: "Get character's public information"
      description: "Public information about a character\n\n---\nAlternate route:\
        \ `/dev/characters/{character_id}/`\n\nAlternate route: `/latest/characters/{character_id}/`\n\
        \n---\nThis route is cached for up to 3600 seconds"
      operationId: "get_characters_character_id"
      parameters:
      - name: "character_id"
        in: "path"
        description: "An EVE character ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CharacterId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        - "singularity"
        x-exportParamName: "Datasource"
      - name: "user_agent"
        in: "query"
        description: "Client identifier, takes precedence over headers"
        required: false
        type: "string"
        x-exportParamName: "UserAgent"
      - name: "X-User-Agent"
        in: "header"
        description: "Client identifier, takes precedence over User-Agent"
        required: false
        type: "string"
        x-exportParamName: "XUserAgent"
      responses:
        200:
          description: "Public data for the given character"
          schema:
            $ref: "#/definitions/get_characters_character_id_ok"
          examples:
            application/json:
              corporation_id: 109299958
              birthday: "2015-03-24T11:37:00Z"
              name: "CCP Bartender"
              gender: "male"
              race_id: 2
              description: ""
              bloodline_id: 3
              ancestry_id: 19
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
        404:
          description: "Character not found"
          schema:
            $ref: "#/definitions/get_characters_character_id_not_found"
          examples:
            application/json:
              error: "Not found message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
      x-cached-seconds: 3600
      x-alternate-versions:
      - "dev"
      - "latest"
  /characters/{character_id}/cspa/:
    post:
      tags:
      - "Character"
      summary: "Calculate a CSPA charge cost"
      description: "Takes a source character ID in the url and a set of target character\
        \ ID's in the body, returns a CSPA charge cost\n\n---\nAlternate route: `/dev/characters/{character_id}/cspa/`\n\
        \nAlternate route: `/latest/characters/{character_id}/cspa/`\n"
      operationId: "post_characters_character_id_cspa"
      parameters:
      - name: "character_id"
        in: "path"
        description: "An EVE character ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CharacterId"
      - in: "body"
        name: "characters"
        description: "The target characters to calculate the charge for"
        required: true
        schema:
          title: "post_characters_character_id_cspa_characters"
          type: "array"
          description: "characters array"
          items:
            type: "integer"
            format: "int32"
            description: "character integer"
            title: "post_characters_character_id_cspa_character"
        x-exportParamName: "Characters"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        - "singularity"
        x-exportParamName: "Datasource"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
      - name: "user_agent"
        in: "query"
        description: "Client identifier, takes precedence over headers"
        required: false
        type: "string"
        x-exportParamName: "UserAgent"
      - name: "X-User-Agent"
        in: "header"
        description: "Client identifier, takes precedence over User-Agent"
        required: false
        type: "string"
        x-exportParamName: "XUserAgent"
      responses:
        201:
          description: "Aggregate cost of sending a mail from the source character\
            \ to the target characters, in ISK"
          schema:
            type: "number"
            format: "float"
            description: "201 created number"
            title: "post_characters_character_id_cspa_created"
          examples:
            application/json: 2950.0
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/forbidden"
          examples:
            application/json:
              error: "Forbidden message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
      security:
      - evesso:
        - "esi-characters.read_contacts.v1"
      x-alternate-versions:
      - "dev"
      - "latest"
  /corporations/{corporation_id}/:
    get:
      tags:
      - "Corporation"
      summary: "Get corporation information"
      description: "Public information about a corporation\n\n---\nAlternate route:\
        \ `/dev/corporations/{corporation_id}/`\n\nAlternate route: `/latest/corporations/{corporation_id}/`\n\
        \n---\nThis route is cached for up to 3600 seconds"
      operationId: "get_corporations_corporation_id"
      parameters:
      - name: "corporation_id"
        in: "path"
        description: "An EVE corporation ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CorporationId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        - "singularity"
        x-exportParamName: "Datasource"
      - name: "user_agent"
        in: "query"
        description: "Client identifier, takes precedence over headers"
        required: false
        type: "string"
        x-exportParamName: "UserAgent"
      - name: "X-User-Agent"
        in: "header"
        description: "Client identifier, takes precedence over User-Agent"
        required: false
        type: "string"
        x-exportParamName: "XUserAgent"
      responses:
        200:
          description: "Public information about a corporation"
          schema:
            $ref: "#/definitions/get_corporations_corporation_id_ok"
          examples:
            application/json:
              name: "C C P"
              ticker: "-CCP-"
              member_count: 656
              ceo_id: 180548812
              alliance_id: 434243723
              description: "This is a corporation description, it's basically just\
                \ a string"
              tax_rate: 0.256
              date_founded: "2004-11-28T16:42:51Z"
              creator_id: 180548812
              url: "http://www.eveonline.com"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
        404:
          description: "Corporation not found"
          schema:
            $ref: "#/definitions/get_corporations_corporation_id_not_found"
          examples:
            application/json:
              error: "Not found message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
      x-cached-seconds: 3600
      x-alternate-versions:
      - "dev"
      - "latest"
  /characters/{character_id}/skills/:
    get:
      tags:
      - "Skills"
      summary: "Get character skills"
      description: "List all trained skills for the given character\n\n---\nAlternate\
        \ route: `/dev/characters/{character_id}/skills/`\n\nAlternate route: `/latest/characters/{character_id}/skills/`\n\
        \n---\nThis route is cached for up to 120 seconds"
      operationId: "get_characters_character_id_skills"
      parameters:
      - name: "character_id"
        in: "path"
        description: "An EVE character ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CharacterId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        - "singularity"
        x-exportParamName: "Datasource"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
      - name: "user_agent"
        in: "query"
        description: "Client identifier, takes precedence over headers"
        required: false
        type: "string"
        x-exportParamName: "UserAgent"
      - name: "X-User-Agent"
        in: "header"
        description: "Client identifier, takes precedence over User-Agent"
        required: false
        type: "string"
        x-exportParamName: "XUserAgent"
      responses:
        200:
          description: "Known skills for the character"
          schema:
            $ref: "#/definitions/get_characters_character_id_skills_ok"
          examples:
            application/json:
              skills:
              - skill_id: 1
                skillpoints_in_skill: 10000
                trained_skill_level: 4
                active_skill_level: 3
              - skill_id: 2
                skillpoints_in_skill: 10000
                trained_skill_level: 1
                active_skill_level: 1
              total_sp: 20000
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/forbidden"
          examples:
            application/json:
              error: "Forbidden message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
      security:
      - evesso:
        - "esi-skills.read_skills.v1"
      x-cached-seconds: 120
      x-alternate-versions:
      - "dev"
      - "latest"
  /characters/{character_id}/wallet/journal/:
    get:
      tags:
      - "Wallet"
      summary: "Get character wallet journal"
      description: "Retrieve the given character's wallet journal going 30 days back\n\
        \n---\nAlternate route: `/dev/characters/{character_id}/wallet/journal/`\n\
        \n---\nThis route is cached for up to 3600 seconds"
      operationId: "get_characters_character_id_wallet_journal"
      parameters:
      - name: "character_id"
        in: "path"
        description: "An EVE character ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CharacterId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        - "singularity"
        x-exportParamName: "Datasource"
      - name: "page"
        in: "query"
        description: "Which page of results to return"
        required: false
        type: "integer"
        default: 1
        format: "int32"
        x-exportParamName: "Page"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
      - name: "user_agent"
        in: "query"
        description: "Client identifier, takes precedence over headers"
        required: false
        type: "string"
        x-exportParamName: "UserAgent"
      - name: "X-User-Agent"
        in: "header"
        description: "Client identifier, takes precedence over User-Agent"
        required: false
        type: "string"
        x-exportParamName: "XUserAgent"
      responses:
        200:
          description: "Journal entries"
          schema:
            type: "array"
            description: "Wallet journal entries"
            title: "get_characters_character_id_wallet_journal_ok"
            items:
              $ref: "#/definitions/get_characters_character_id_wallet_journal_200_ok"
            maxItems: 2500
          examples:
            application/json:
            - id: 89
              date: "2018-02-23T14:31:32Z"
              ref_type: "contract_deposit"
              description: "Contract Deposit"
              context_id: 4
              context_id_type: "contract_id"
              first_party_id: 2112625428
              second_party_id: 1000132
              amount: -100000
              balance: 500000.4316
          headers:
            X-Pages:
              type: "integer"
              format: "int32"
              description: "Maximum page number"
              default: 1
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/forbidden"
          examples:
            application/json:
              error: "Forbidden message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
      security:
      - evesso:
        - "esi-wallet.read_character_wallet.v1"
      x-cached-seconds: 3600
      x-alternate-versions:
      - "dev"
securityDefinitions:
  evesso:
    type: "oauth2"
    authorizationUrl: "https://login.eveonline.com/oauth/authorize"
    flow: "implicit"
    scopes:
      esi-characters.read_contacts.v1: "EVE SSO scope esi-characters.read_contacts.v1"
      esi-skills.read_skills.v1: "EVE SSO scope esi-skills.read_skills.v1"
      esi-wallet.read_character_wallet.v1: "EVE SSO scope esi-wallet.read_character_wallet.v1"
definitions:
  forbidden:
    type: "object"
    required:
    - "error"
    properties:
      error:
        type: "string"
        description: "Forbidden message"
      sso_status:
        type: "integer"
        description: "Status code received from SSO"
    title: "Forbidden"
    description: "Forbidden model"
  internal_server_error:
    type: "object"
    required:
    - "error"
    properties:
      error:
        type: "string"
        description: "Internal server error message"
    title: "Internal server error"
    description: "Internal server error model"
  get_characters_character_id_ok:
    required:
    - "birthday"
    - "bloodline_id"
    - "corporation_id"
    - "gender"
    - "name"
    - "race_id"
    properties:
      name:
        type: "string"
        description: "name string"
        title: "get_characters_character_id_name"
      description:
        type: "string"
        description: "description string"
        title: "get_characters_character_id_description"
      corporation_id:
        type: "integer"
        format: "int32"
        description: "The character's corporation ID"
        title: "get_characters_character_id_corporation_id"
      alliance_id:
        type: "integer"
        format: "int32"
        description: "The character's alliance ID"
        title: "get_characters_character_id_alliance_id"
      birthday:
        type: "string"
        format: "date-time"
        description: "Creation date of the character"
        title: "get_characters_character_id_birthday"
      gender:
        type: "string"
        description: "gender string"
        title: "get_characters_character_id_gender"
        enum:
        - "female"
        - "male"
      race_id:
        type: "integer"
        format: "int32"
        description: "race_id integer"
        title: "get_characters_character_id_race_id"
      bloodline_id:
        type: "integer"
        format: "int32"
        description: "bloodline_id integer"
        title: "get_characters_character_id_bloodline_id"
      ancestry_id:
        type: "integer"
        format: "int32"
        description: "ancestry_id integer"
        title: "get_characters_character_id_ancestry_id"
      security_status:
        type: "number"
        format: "float"
        description: "security_status number"
        title: "get_characters_character_id_security_status"
        minimum: -10
        maximum: 10
      faction_id:
        type: "integer"
        format: "int32"
        description: "ID of the faction the character is fighting for, if the character\
          \ is enlisted in Factional Warfare"
        title: "get_characters_character_id_faction_id"
    description: "200 ok object"
  get_characters_character_id_not_found:
    properties:
      error:
        type: "string"
        description: "Not found message"
        title: "get_characters_character_id_404_not_found"
    description: "Not found"
  get_corporations_corporation_id_ok:
    required:
    - "ceo_id"
    - "creator_id"
    - "member_count"
    - "name"
    - "tax_rate"
    - "ticker"
    properties:
      name:
        type: "string"
        description: "the full name of the corporation"
        title: "get_corporations_corporation_id_name"
      ticker:
        type: "string"
        description: "the short name of the corporation"
        title: "get_corporations_corporation_id_ticker"
      member_count:
        type: "integer"
        format: "int32"
        description: "member_count integer"
        title: "get_corporations_corporation_id_member_count"
      ceo_id:
        type: "integer"
        format: "int32"
        description: "ceo_id integer"
        title: "get_corporations_corporation_id_ceo_id"
      alliance_id:
        type: "integer"
        format: "int32"
        description: "ID of the alliance that corporation is a member of, if any"
        title: "get_corporations_corporation_id_alliance_id"
      description:
        type: "string"
        description: "description string"
        title: "get_corporations_corporation_id_description"
      tax_rate:
        type: "number"
        format: "float"
        description: "tax_rate number"
        title: "get_corporations_corporation_id_tax_rate"
        minimum: 0
        maximum: 1
      date_founded:
        type: "string"
        format: "date-time"
        description: "date_founded string"
        title: "get_corporations_corporation_id_date_founded"
      creator_id:
        type: "integer"
        format: "int32"
        description: "creator_id integer"
        title: "get_corporations_corporation_id_creator_id"
      url:
        type: "string"
        description: "url string"
        title: "get_corporations_corporation_id_url"
      faction_id:
        type: "integer"
        format: "int32"
        description: "faction_id integer"
        title: "get_corporations_corporation_id_faction_id"
      home_station_id:
        type: "integer"
        format: "int32"
        description: "home_station_id integer"
        title: "get_corporations_corporation_id_home_station_id"
      shares:
        type: "integer"
        format: "int64"
        description: "shares integer"
        title: "get_corporations_corporation_id_shares"
    description: "200 ok object"
  get_corporations_corporation_id_not_found:
    properties:
      error:
        type: "string"
        description: "Not found message"
        title: "get_corporations_corporation_id_404_not_found"
    description: "Not found"
  get_characters_character_id_skills_skill:
    required:
    - "active_skill_level"
    - "skill_id"
    - "skillpoints_in_skill"
    - "trained_skill_level"
    properties:
      skill_id:
        type: "integer"
        format: "int32"
        description: "skill_id integer"
        title: "get_characters_character_id_skills_skill_id"
      skillpoints_in_skill:
        type: "integer"
        format: "int64"
        description: "skillpoints_in_skill integer"
        title: "get_characters_character_id_skills_skillpoints_in_skill"
      trained_skill_level:
        type: "integer"
        format: "int32"
        description: "trained_skill_level integer"
        title: "get_characters_character_id_skills_trained_skill_level"
      active_skill_level:
        type: "integer"
        format: "int32"
        description: "active_skill_level integer"
        title: "get_characters_character_id_skills_active_skill_level"
    description: "skill object"
  get_characters_character_id_skills_ok:
    required:
    - "skills"
    - "total_sp"
    properties:
      skills:
        type: "array"
        description: "skills array"
        title: "get_characters_character_id_skills_skills"
        items:
          $ref: "#/definitions/get_characters_character_id_skills_skill"
        maxItems: 1000
      total_sp:
        type: "integer"
        format: "int64"
        description: "total_sp integer"
        title: "get_characters_character_id_skills_total_sp"
      unallocated_sp:
        type: "integer"
        format: "int32"
        description: "Skill points available to be assigned"
        title: "get_characters_character_id_skills_unallocated_sp"
    description: "200 ok object"
  get_characters_character_id_wallet_journal_200_ok:
    required:
    - "date"
    - "description"
    - "id"
    - "ref_type"
    properties:
      date:
        type: "string"
        format: "date-time"
        description: "Date and time of transaction"
        title: "get_characters_character_id_wallet_journal_date"
      id:
        type: "integer"
        format: "int64"
        description: "Unique journal reference ID"
        title: "get_characters_character_id_wallet_journal_id"
      ref_type:
        type: "string"
        description: "The transaction type for the given transaction. Different transaction\
          \ types will populate different attributes. Note: If you have an existing\
          \ XML API application that is using ref_types, you will need to know which\
          \ string ESI ref_type maps to which integer. You can look at the following\
          \ file to see string->int mappings: https://github.com/ccpgames/eve-glue/blob/master/eve_glue/wallet_journal_ref.py"
        title: "get_characters_character_id_wallet_journal_ref_type"
        enum:
        - "acceleration_gate_fee"
        - "advertisement_listing_fee"
        - "agent_donation"
        - "agent_location_services"
        - "agent_miscellaneous"
        - "agent_mission_collateral_paid"
        - "agent_mission_collateral_refunded"
        - "agent_mission_reward"
        - "agent_mission_reward_corporation_tax"
        - "agent_mission_time_bonus_reward"
        - "agent_mission_time_bonus_reward_corporation_tax"
        - "agent_security_services"
        - "agent_services_rendered"
        - "agents_preward"
        - "alliance_maintainance_fee"
        - "alliance_registration_fee"
        - "asset_safety_recovery_tax"
        - "bounty"
        - "bounty_prize"
        - "bounty_prize_corporation_tax"
        - "bounty_prizes"
        - "bounty_reimbursement"
        - "bounty_surcharge"
        - "brokers_fee"
        - "clone_activation"
        - "clone_transfer"
        - "contraband_fine"
        - "contract_auction_bid"
        - "contract_auction_bid_corp"
        - "contract_auction_bid_refund"
        - "contract_auction_sold"
        - "contract_brokers_fee"
        - "contract_brokers_fee_corp"
        - "contract_collateral"
        - "contract_collateral_deposited_corp"
        - "contract_collateral_payout"
        - "contract_collateral_refund"
        - "contract_deposit"
        - "contract_deposit_corp"
        - "contract_deposit_refund"
        - "contract_deposit_sales_tax"
        - "contract_price"
        - "contract_price_payment_corp"
        - "contract_reversal"
        - "contract_reward"
        - "contract_reward_deposited"
        - "contract_reward_deposited_corp"
        - "contract_reward_refund"
        - "contract_sales_tax"
        - "copying"
        - "corporate_reward_payout"
        - "corporate_reward_tax"
        - "corporation_account_withdrawal"
        - "corporation_bulk_payment"
        - "corporation_dividend_payment"
        - "corporation_liquidation"
        - "corporation_logo_change_cost"
        - "corporation_payment"
        - "corporation_registration_fee"
        - "courier_mission_escrow"
        - "cspa"
        - "cspaofflinerefund"
        - "datacore_fee"
        - "dna_modification_fee"
        - "docking_fee"
        - "duel_wager_escrow"
        - "duel_wager_payment"
        - "duel_wager_refund"
        - "factory_slot_rental_fee"
        - "gm_cash_transfer"
        - "industry_job_tax"
        - "infrastructure_hub_maintenance"
        - "inheritance"
        - "insurance"
        - "jump_clone_activation_fee"
        - "jump_clone_installation_fee"
        - "kill_right_fee"
        - "lp_store"
        - "manufacturing"
        - "market_escrow"
        - "market_fine_paid"
        - "market_transaction"
        - "medal_creation"
        - "medal_issued"
        - "mission_completion"
        - "mission_cost"
        - "mission_expiration"
        - "mission_reward"
        - "office_rental_fee"
        - "operation_bonus"
        - "opportunity_reward"
        - "planetary_construction"
        - "planetary_export_tax"
        - "planetary_import_tax"
        - "player_donation"
        - "player_trading"
        - "project_discovery_reward"
        - "project_discovery_tax"
        - "reaction"
        - "release_of_impounded_property"
        - "repair_bill"
        - "reprocessing_tax"
        - "researching_material_productivity"
        - "researching_technology"
        - "researching_time_productivity"
        - "resource_wars_reward"
        - "reverse_engineering"
        - "security_processing_fee"
        - "shares"
        - "sovereignity_bill"
        - "store_purchase"
        - "store_purchase_refund"
        - "transaction_tax"
        - "upkeep_adjustment_fee"
        - "war_ally_contract"
        - "war_fee"
        - "war_fee_surrender"
      first_party_id:
        type: "integer"
        format: "int32"
        description: "The id of the first party involved in the transaction. This\
          \ attribute has no consistency and is different or non existant for particular\
          \ ref_types. The description attribute will help make sense of what this\
          \ attribute means. For more info about the given ID it can be dropped into\
          \ the /universe/names/ ESI route to determine its type and name"
        title: "get_characters_character_id_wallet_journal_first_party_id"
      second_party_id:
        type: "integer"
        format: "int32"
        description: "The id of the second party involved in the transaction. This\
          \ attribute has no consistency and is different or non existant for particular\
          \ ref_types. The description attribute will help make sense of what this\
          \ attribute means. For more info about the given ID it can be dropped into\
          \ the /universe/names/ ESI route to determine its type and name"
        title: "get_characters_character_id_wallet_journal_second_party_id"
      amount:
        type: "number"
        format: "double"
        description: "The amount of ISK given or taken from the wallet as a result\
          \ of the given transaction. Positive when ISK is deposited into the wallet\
          \ and negative when ISK is withdrawn"
        title: "get_characters_character_id_wallet_journal_amount"
      reason:
        type: "string"
        description: "The user stated reason for the transaction. Only applies to\
          \ some ref_types"
        title: "get_characters_character_id_wallet_journal_reason"
      balance:
        type: "number"
        format: "double"
        description: "Wallet balance after transaction occurred"
        title: "get_characters_character_id_wallet_journal_balance"
      description:
        type: "string"
        description: "The reason for the transaction, mirrors what is seen in the\
          \ client"
        title: "get_characters_character_id_wallet_journal_description"
      context_id:
        type: "integer"
        format: "int32"
        description: "An ID that gives extra context to the particular transaction.\
          \ Because of legacy reasons the context is completely different per ref_type\
          \ and means different things. It is also possible to not have a context_id"
        title: "get_characters_character_id_wallet_journal_context_id"
      context_id_type:
        type: "string"
        description: "The type of the given context_id if present"
        title: "get_characters_character_id_wallet_journal_context_id_type"
        enum:
        - "structure_id"
        - "station_id"
        - "market_transaction_id"
        - "character_id"
        - "corporation_id"
        - "alliance_id"
        - "eve_system"
        - "industry_job_id"
        - "contract_id"
        - "planet_id"
        - "system_id"
        - "type_id"
      tax_receiver_id:
        type: "integer"
        format: "int32"
        description: "The corporation ID receiving any tax paid. Only applies to tax\
          \ related transactions"
        title: "get_characters_character_id_wallet_journal_tax_receiver_id"
      tax:
        type: "number"
        format: "double"
        description: "Tax amount received. Only applies to tax related transactions"
        title: "get_characters_character_id_wallet_journal_tax"
    description: "200 ok object"
parameters:
  datasource:
    name: "datasource"
    in: "query"
    description: "The server name you would like data from"
    required: false
    type: "string"
    default: "tranquility"
    enum:
    - "tranquility"
    - "singularity"
    x-exportParamName: "Datasource"
  user_agent:
    name: "user_agent"
    in: "query"
    description: "Client identifier, takes precedence over headers"
    required: false
    type: "string"
    x-exportParamName: "UserAgent"
  X-User-Agent:
    name: "X-User-Agent"
    in: "header"
    description: "Client identifier, takes precedence over User-Agent"
    required: false
    type: "string"
    x-exportParamName: "XUserAgent"
  token:
    name: "token"
    in: "query"
    description: "Access token to use if unable to set a header"
    required: false
    type: "string"
    x-exportParamName: "Token"
  character_id:
    name: "character_id"
    in: "path"
    description: "An EVE character ID"
    required: true
    type: "integer"
    minimum: 1
    format: "int32"
    x-exportParamName: "CharacterId"
  page:
    name: "page"
    in: "query"
    description: "Which page of results to return"
    required: false
    type: "integer"
    default: 1
    format: "int32"
    x-exportParamName: "Page"
  language:
    name: "language"
    in: "query"
    description: "Language to use in the response"
    required: false
    type: "string"
    default: "en-us"
    enum:
    - "de"
    - "en-us"
    - "fr"
    - "ja"
    - "ru"
    - "zh"
  corporation_id:
    name: "corporation_id"
    in: "path"
    description: "An EVE corporation ID"
    required: true
    type: "integer"
    minimum: 1
    format: "int32"
    x-exportParamName: "CorporationId"
