---
swagger: "2.0"
info:
  description: "An OpenAPI for EVE Online"
  version: "1.12"
  title: "EVE Swagger Interface"
host: "esi.evetech.net"
basePath: "/v4"
schemes:
- "https"
consumes:
- "application/json"
produces:
- "application/json"
paths:
  /alliances/{alliance_id}/:
    get:
      tags:
      - "Alliance"
      summary: "Get alliance information"
      description: "Public information about an alliance\n\n---\nAlternate route:\
        \ `/dev/alliances/{alliance_id}/`\n\nAlternate route: `/latest/alliances/{alliance_id}/`\n\
        \nAlternate route: `/legacy/alliances/{alliance_id}/`\n\nAlternate route:\
        \ `/v3/alliances/{alliance_id}/`\n\n---\nThis route is cached for up to 3600\
        \ seconds"
      operationId: "get_alliances_alliance_id"
      parameters:
      - name: "alliance_id"
        in: "path"
        description: "An EVE alliance ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "AllianceId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        x-exportParamName: "Datasource"
      - name: "If-None-Match"
        in: "header"
        description: "ETag from a previous request. A 304 will be returned if this\
          \ matches the current ETag"
        required: false
        type: "string"
        x-exportParamName: "IfNoneMatch"
      responses:
        200:
          description: "Public data about an alliance"
          schema:
            $ref: "#/definitions/get_alliances_alliance_id_ok"
          examples:
            application/json:
              creator_corporation_id: 45678
              creator_id: 12345
              date_founded: "2016-06-26T21:00:00Z"
              executor_corporation_id: 98356193
              name: "C C P Alliance"
              ticker: "<C C P>"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        304:
          description: "Not modified"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        404:
          description: "Alliance not found"
          schema:
            $ref: "#/definitions/get_alliances_alliance_id_not_found"
          examples:
            application/json:
              error: "Not found message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      x-alternate-versions:
      - "dev"
      - "latest"
      - "legacy"
      - "v3"
      x-cached-seconds: 3600
  /characters/{character_id}/assets/:
    get:
      tags:
      - "Assets"
      summary: "Get character assets"
      description: "Return a list of the characters assets\n\n---\nAlternate route:\
        \ `/legacy/characters/{character_id}/assets/`\n\n---\nThis route is cached\
        \ for up to 3600 seconds\n\n---\nWarning: This route is deprecated\n\n---\n\
        [Diff of the upcoming changes](https://esi.evetech.net/diff/v4/dev/#GET-/characters/{character_id}/assets/)"
      operationId: "get_characters_character_id_assets"
      parameters:
      - name: "character_id"
        in: "path"
        description: "An EVE character ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CharacterId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        x-exportParamName: "Datasource"
      - name: "If-None-Match"
        in: "header"
        description: "ETag from a previous request. A 304 will be returned if this\
          \ matches the current ETag"
        required: false
        type: "string"
        x-exportParamName: "IfNoneMatch"
      - name: "page"
        in: "query"
        description: "Which page of results to return"
        required: false
        type: "integer"
        default: 1
        minimum: 1
        format: "int32"
        x-exportParamName: "Page"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
      responses:
        200:
          description: "A flat list of the users assets"
          schema:
            type: "array"
            description: "200 ok array"
            title: "get_characters_character_id_assets_ok"
            items:
              $ref: "#/definitions/get_characters_character_id_assets_200_ok"
            maxItems: 1000
          examples:
            application/json:
            - is_blueprint_copy: true
              is_singleton: true
              item_id: 1000000016835
              location_flag: "Hangar"
              location_id: 60002959
              location_type: "station"
              quantity: 1
              type_id: 3516
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
            X-Pages:
              type: "integer"
              format: "int32"
              description: "Maximum page number"
              default: 1
        304:
          description: "Not modified"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/unauthorized"
          examples:
            application/json:
              error: "Unauthorized message"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/forbidden"
          examples:
            application/json:
              error: "Forbidden message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      security:
      - evesso:
        - "esi-assets.read_assets.v1"
      deprecated: true
      x-alternate-versions:
      - "legacy"
      x-cached-seconds: 3600
  /characters/{character_id}/calendar/{event_id}/:
    get:
      tags:
      - "Calendar"
      summary: "Get an event"
      description: "Get all the information for a specific event\n\n---\nAlternate\
        \ route: `/dev/characters/{character_id}/calendar/{event_id}/`\n\nAlternate\
        \ route: `/latest/characters/{character_id}/calendar/{event_id}/`\n\nAlternate\
        \ route: `/legacy/characters/{character_id}/calendar/{event_id}/`\n\nAlternate\
        \ route: `/v3/characters/{character_id}/calendar/{event_id}/`\n\n---\nThis\
        \ route is cached for up to 5 seconds"
      operationId: "get_characters_character_id_calendar_event_id"
      parameters:
      - name: "character_id"
        in: "path"
        description: "An EVE character ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CharacterId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        x-exportParamName: "Datasource"
      - name: "event_id"
        in: "path"
        description: "The id of the event requested"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "EventId"
      - name: "If-None-Match"
        in: "header"
        description: "ETag from a previous request. A 304 will be returned if this\
          \ matches the current ETag"
        required: false
        type: "string"
        x-exportParamName: "IfNoneMatch"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
      responses:
        200:
          description: "Full details of a specific event"
          schema:
            $ref: "#/definitions/get_characters_character_id_calendar_event_id_ok"
          examples:
            application/json:
              date: "2016-06-26T21:00:00Z"
              duration: 60
              event_id: 1386435
              importance: 1
              owner_id: 1
              owner_name: "EVE System"
              owner_type: "eve_server"
              response: "Undecided"
              text: "o7: The EVE Online Show features latest developer news, fast\
                \ paced action, community overviews and a lot more with CCP Guard\
                \ and CCP Mimic. Join the thrilling o7 live broadcast at 20:00 EVE\
                \ time (=UTC) on <a href=\"http://www.twitch.tv/ccp\">EVE TV</a>.\
                \ Don't miss it!"
              title: "o7 The EVE Online Show"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        304:
          description: "Not modified"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/unauthorized"
          examples:
            application/json:
              error: "Unauthorized message"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/forbidden"
          examples:
            application/json:
              error: "Forbidden message"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/get_characters_character_id_calendar_event_id_not_found"
          examples:
            application/json:
              error: "Not found message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      security:
      - evesso:
        - "esi-calendar.read_calendar_events.v1"
      x-alternate-versions:
      - "dev"
      - "latest"
      - "legacy"
      - "v3"
      x-cached-seconds: 5
    put:
      tags:
      - "Calendar"
      summary: "Respond to an event"
      description: "Set your response status to an event\n\n---\nAlternate route:\
        \ `/dev/characters/{character_id}/calendar/{event_id}/`\n\nAlternate route:\
        \ `/latest/characters/{character_id}/calendar/{event_id}/`\n\nAlternate route:\
        \ `/legacy/characters/{character_id}/calendar/{event_id}/`\n\nAlternate route:\
        \ `/v3/characters/{character_id}/calendar/{event_id}/`\n\n---\nThis route\
        \ is cached for up to 5 seconds"
      operationId: "put_characters_character_id_calendar_event_id"
      parameters:
      - name: "character_id"
        in: "path"
        description: "An EVE character ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CharacterId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        x-exportParamName: "Datasource"
      - name: "event_id"
        in: "path"
        description: "The ID of the event requested"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "EventId"
      - in: "body"
        name: "response"
        description: "The response value to set, overriding current value"
        required: true
        schema:
          $ref: "#/definitions/put_characters_character_id_calendar_event_id_response"
        x-exportParamName: "Response"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
      responses:
        204:
          description: "Event updated"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/unauthorized"
          examples:
            application/json:
              error: "Unauthorized message"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/forbidden"
          examples:
            application/json:
              error: "Forbidden message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      security:
      - evesso:
        - "esi-calendar.respond_calendar_events.v1"
      x-alternate-versions:
      - "dev"
      - "latest"
      - "legacy"
      - "v3"
      x-cached-seconds: 5
  /characters/{character_id}/clones/:
    get:
      tags:
      - "Clones"
      summary: "Get clones"
      description: "A list of the character's clones\n\n---\nAlternate route: `/dev/characters/{character_id}/clones/`\n\
        \nAlternate route: `/latest/characters/{character_id}/clones/`\n\nAlternate\
        \ route: `/v3/characters/{character_id}/clones/`\n\n---\nThis route is cached\
        \ for up to 120 seconds"
      operationId: "get_characters_character_id_clones"
      parameters:
      - name: "character_id"
        in: "path"
        description: "An EVE character ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CharacterId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        x-exportParamName: "Datasource"
      - name: "If-None-Match"
        in: "header"
        description: "ETag from a previous request. A 304 will be returned if this\
          \ matches the current ETag"
        required: false
        type: "string"
        x-exportParamName: "IfNoneMatch"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
      responses:
        200:
          description: "Clone information for the given character"
          schema:
            $ref: "#/definitions/get_characters_character_id_clones_ok"
          examples:
            application/json:
              home_location:
                location_id: 1021348135816
                location_type: "structure"
              jump_clones:
              - implants:
                - 22118
                jump_clone_id: 12345
                location_id: 60003463
                location_type: "station"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        304:
          description: "Not modified"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/unauthorized"
          examples:
            application/json:
              error: "Unauthorized message"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/forbidden"
          examples:
            application/json:
              error: "Forbidden message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      security:
      - evesso:
        - "esi-clones.read_clones.v1"
      x-alternate-versions:
      - "dev"
      - "latest"
      - "v3"
      x-cached-seconds: 120
  /characters/{character_id}/cspa/:
    post:
      tags:
      - "Character"
      summary: "Calculate a CSPA charge cost"
      description: "Takes a source character ID in the url and a set of target character\
        \ ID's in the body, returns a CSPA charge cost\n\n---\nAlternate route: `/legacy/characters/{character_id}/cspa/`\n\
        \n\n---\nWarning: This route is deprecated\n\n---\n[Diff of the upcoming changes](https://esi.evetech.net/diff/v4/dev/#POST-/characters/{character_id}/cspa/)"
      operationId: "post_characters_character_id_cspa"
      parameters:
      - name: "character_id"
        in: "path"
        description: "An EVE character ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CharacterId"
      - in: "body"
        name: "characters"
        description: "The target characters to calculate the charge for"
        required: true
        schema:
          title: "post_characters_character_id_cspa_characters"
          type: "array"
          description: "characters array"
          items:
            type: "integer"
            format: "int32"
            description: "character integer"
            title: "post_characters_character_id_cspa_character"
        x-exportParamName: "Characters"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        x-exportParamName: "Datasource"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
      responses:
        201:
          description: "Aggregate cost of sending a mail from the source character\
            \ to the target characters, in ISK"
          schema:
            type: "number"
            format: "float"
            description: "201 created number"
            title: "post_characters_character_id_cspa_created"
          examples:
            application/json: 2950.0
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/unauthorized"
          examples:
            application/json:
              error: "Unauthorized message"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/forbidden"
          examples:
            application/json:
              error: "Forbidden message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      security:
      - evesso:
        - "esi-characters.read_contacts.v1"
      deprecated: true
      x-alternate-versions:
      - "legacy"
  /characters/{character_id}/notifications/:
    get:
      tags:
      - "Character"
      summary: "Get character notifications"
      description: "Return character notifications\n\n---\nAlternate route: `/legacy/characters/{character_id}/notifications/`\n\
        \n---\nThis route is cached for up to 600 seconds\n\n---\nWarning: This route\
        \ is deprecated\n\n---\n[Diff of the upcoming changes](https://esi.evetech.net/diff/v4/dev/#GET-/characters/{character_id}/notifications/)"
      operationId: "get_characters_character_id_notifications"
      parameters:
      - name: "character_id"
        in: "path"
        description: "An EVE character ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CharacterId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        x-exportParamName: "Datasource"
      - name: "If-None-Match"
        in: "header"
        description: "ETag from a previous request. A 304 will be returned if this\
          \ matches the current ETag"
        required: false
        type: "string"
        x-exportParamName: "IfNoneMatch"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
      responses:
        200:
          description: "Returns your recent notifications"
          schema:
            type: "array"
            description: "200 ok array"
            title: "get_characters_character_id_notifications_ok"
            items:
              $ref: "#/definitions/get_characters_character_id_notifications_200_ok"
            maxItems: 500
          examples:
            application/json:
            - is_read: true
              notification_id: 1
              sender_id: 1000132
              sender_type: "corporation"
              text: "amount: 3731016.4000000004\\nitemID: 1024881021663\\npayout:\
                \ 1\\n"
              timestamp: "2017-08-16T10:08:00Z"
              type: "InsurancePayoutMsg"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        304:
          description: "Not modified"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/unauthorized"
          examples:
            application/json:
              error: "Unauthorized message"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/forbidden"
          examples:
            application/json:
              error: "Forbidden message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      security:
      - evesso:
        - "esi-characters.read_notifications.v1"
      deprecated: true
      x-alternate-versions:
      - "legacy"
      x-cached-seconds: 600
  /characters/{character_id}/skills/:
    get:
      tags:
      - "Skills"
      summary: "Get character skills"
      description: "List all trained skills for the given character\n\n---\nAlternate\
        \ route: `/dev/characters/{character_id}/skills/`\n\nAlternate route: `/latest/characters/{character_id}/skills/`\n\
        \n---\nThis route is cached for up to 120 seconds"
      operationId: "get_characters_character_id_skills"
      parameters:
      - name: "character_id"
        in: "path"
        description: "An EVE character ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CharacterId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        x-exportParamName: "Datasource"
      - name: "If-None-Match"
        in: "header"
        description: "ETag from a previous request. A 304 will be returned if this\
          \ matches the current ETag"
        required: false
        type: "string"
        x-exportParamName: "IfNoneMatch"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
      responses:
        200:
          description: "Known skills for the character"
          schema:
            $ref: "#/definitions/get_characters_character_id_skills_ok"
          examples:
            application/json:
              skills:
              - active_skill_level: 3
                skill_id: 1
                skillpoints_in_skill: 10000
                trained_skill_level: 4
              - active_skill_level: 1
                skill_id: 2
                skillpoints_in_skill: 10000
                trained_skill_level: 1
              total_sp: 20000
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        304:
          description: "Not modified"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/unauthorized"
          examples:
            application/json:
              error: "Unauthorized message"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/forbidden"
          examples:
            application/json:
              error: "Forbidden message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      security:
      - evesso:
        - "esi-skills.read_skills.v1"
      x-alternate-versions:
      - "dev"
      - "latest"
      x-cached-seconds: 120
  /corporations/{corporation_id}/:
    get:
      tags:
      - "Corporation"
      summary: "Get corporation information"
      description: "Public information about a corporation\n\n---\nAlternate route:\
        \ `/legacy/corporations/{corporation_id}/`\n\n---\nThis route is cached for\
        \ up to 3600 seconds\n\n---\nWarning: This route is deprecated\n\n---\n[Diff\
        \ of the upcoming changes](https://esi.evetech.net/diff/v4/dev/#GET-/corporations/{corporation_id}/)"
      operationId: "get_corporations_corporation_id"
      parameters:
      - name: "corporation_id"
        in: "path"
        description: "An EVE corporation ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CorporationId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        x-exportParamName: "Datasource"
      - name: "If-None-Match"
        in: "header"
        description: "ETag from a previous request. A 304 will be returned if this\
          \ matches the current ETag"
        required: false
        type: "string"
        x-exportParamName: "IfNoneMatch"
      responses:
        200:
          description: "Public information about a corporation"
          schema:
            $ref: "#/definitions/get_corporations_corporation_id_ok"
          examples:
            application/json:
              alliance_id: 434243723
              ceo_id: 180548812
              creator_id: 180548812
              date_founded: "2004-11-28T16:42:51Z"
              description: "This is a corporation description, it's basically just\
                \ a string"
              member_count: 656
              name: "C C P"
              tax_rate: 0.256
              ticker: "-CCP-"
              url: "http://www.eveonline.com"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        304:
          description: "Not modified"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        404:
          description: "Corporation not found"
          schema:
            $ref: "#/definitions/get_corporations_corporation_id_not_found"
          examples:
            application/json:
              error: "Not found message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      deprecated: true
      x-alternate-versions:
      - "legacy"
      x-cached-seconds: 3600
  /corporations/{corporation_id}/assets/:
    get:
      tags:
      - "Assets"
      summary: "Get corporation assets"
      description: "Return a list of the corporation assets\n\n---\nAlternate route:\
        \ `/legacy/corporations/{corporation_id}/assets/`\n\n---\nThis route is cached\
        \ for up to 3600 seconds\n\n---\nRequires one of the following EVE corporation\
        \ role(s): Director\n\n\n---\nWarning: This route is deprecated\n\n---\n[Diff\
        \ of the upcoming changes](https://esi.evetech.net/diff/v4/dev/#GET-/corporations/{corporation_id}/assets/)"
      operationId: "get_corporations_corporation_id_assets"
      parameters:
      - name: "corporation_id"
        in: "path"
        description: "An EVE corporation ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CorporationId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        x-exportParamName: "Datasource"
      - name: "If-None-Match"
        in: "header"
        description: "ETag from a previous request. A 304 will be returned if this\
          \ matches the current ETag"
        required: false
        type: "string"
        x-exportParamName: "IfNoneMatch"
      - name: "page"
        in: "query"
        description: "Which page of results to return"
        required: false
        type: "integer"
        default: 1
        minimum: 1
        format: "int32"
        x-exportParamName: "Page"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
      responses:
        200:
          description: "A list of assets"
          schema:
            type: "array"
            description: "200 ok array"
            title: "get_corporations_corporation_id_assets_ok"
            items:
              $ref: "#/definitions/get_corporations_corporation_id_assets_200_ok"
            maxItems: 1000
          examples:
            application/json:
            - is_blueprint_copy: true
              is_singleton: true
              item_id: 1000000016835
              location_flag: "Hangar"
              location_id: 60002959
              location_type: "station"
              quantity: 1
              type_id: 3516
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
            X-Pages:
              type: "integer"
              format: "int32"
              description: "Maximum page number"
              default: 1
        304:
          description: "Not modified"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/unauthorized"
          examples:
            application/json:
              error: "Unauthorized message"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/forbidden"
          examples:
            application/json:
              error: "Forbidden message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      security:
      - evesso:
        - "esi-assets.read_corporation_assets.v1"
      deprecated: true
      x-alternate-versions:
      - "legacy"
      x-cached-seconds: 3600
      x-required-roles:
      - "Director"
  /corporations/{corporation_id}/members/:
    get:
      tags:
      - "Corporation"
      summary: "Get corporation members"
      description: "Return the current member list of a corporation, the token's character\
        \ need to be a member of the corporation.\n\n---\nAlternate route: `/dev/corporations/{corporation_id}/members/`\n\
        \nAlternate route: `/latest/corporations/{corporation_id}/members/`\n\n---\n\
        This route is cached for up to 3600 seconds"
      operationId: "get_corporations_corporation_id_members"
      parameters:
      - name: "corporation_id"
        in: "path"
        description: "An EVE corporation ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CorporationId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        x-exportParamName: "Datasource"
      - name: "If-None-Match"
        in: "header"
        description: "ETag from a previous request. A 304 will be returned if this\
          \ matches the current ETag"
        required: false
        type: "string"
        x-exportParamName: "IfNoneMatch"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
      responses:
        200:
          description: "List of member character IDs"
          schema:
            type: "array"
            description: "A list of character IDs"
            title: "get_corporations_corporation_id_members_ok"
            items:
              type: "integer"
              format: "int32"
              description: "200 ok integer"
              title: "get_corporations_corporation_id_members_200_ok"
            maxItems: 12601
          examples:
            application/json:
            - 90000001
            - 90000002
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        304:
          description: "Not modified"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/unauthorized"
          examples:
            application/json:
              error: "Unauthorized message"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/forbidden"
          examples:
            application/json:
              error: "Forbidden message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      security:
      - evesso:
        - "esi-corporations.read_corporation_membership.v1"
      x-alternate-versions:
      - "dev"
      - "latest"
      x-cached-seconds: 3600
  /corporations/{corporation_id}/structures/:
    get:
      tags:
      - "Corporation"
      summary: "Get corporation structures"
      description: "Get a list of corporation structures. This route's version includes\
        \ the changes to structures detailed in this blog: https://www.eveonline.com/article/upwell-2.0-structures-changes-coming-on-february-13th\n\
        \n---\nAlternate route: `/dev/corporations/{corporation_id}/structures/`\n\
        \nAlternate route: `/latest/corporations/{corporation_id}/structures/`\n\n\
        ---\nThis route is cached for up to 3600 seconds\n\n---\nRequires one of the\
        \ following EVE corporation role(s): Station_Manager\n"
      operationId: "get_corporations_corporation_id_structures"
      parameters:
      - name: "Accept-Language"
        in: "header"
        description: "Language to use in the response"
        required: false
        type: "string"
        default: "en"
        enum:
        - "en"
        - "en-us"
        - "de"
        - "fr"
        - "ja"
        - "ru"
        - "zh"
        - "ko"
        - "es"
        x-exportParamName: "AcceptLanguage"
      - name: "corporation_id"
        in: "path"
        description: "An EVE corporation ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CorporationId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        x-exportParamName: "Datasource"
      - name: "If-None-Match"
        in: "header"
        description: "ETag from a previous request. A 304 will be returned if this\
          \ matches the current ETag"
        required: false
        type: "string"
        x-exportParamName: "IfNoneMatch"
      - name: "language"
        in: "query"
        description: "Language to use in the response, takes precedence over Accept-Language"
        required: false
        type: "string"
        default: "en"
        enum:
        - "en"
        - "en-us"
        - "de"
        - "fr"
        - "ja"
        - "ru"
        - "zh"
        - "ko"
        - "es"
        x-exportParamName: "Language"
      - name: "page"
        in: "query"
        description: "Which page of results to return"
        required: false
        type: "integer"
        default: 1
        minimum: 1
        format: "int32"
        x-exportParamName: "Page"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
      responses:
        200:
          description: "List of corporation structures' information"
          schema:
            type: "array"
            description: "200 ok array"
            title: "get_corporations_corporation_id_structures_ok"
            items:
              $ref: "#/definitions/get_corporations_corporation_id_structures_200_ok"
            maxItems: 250
          examples:
            application/json:
            - corporation_id: 667531913
              name: "example name"
              profile_id: 11237
              reinforce_hour: 22
              state: "shield_vulnerable"
              structure_id: 1021975535893
              system_id: 30004763
              type_id: 35833
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            Content-Language:
              type: "string"
              description: "The language used in the response"
              enum:
              - "en"
              - "de"
              - "fr"
              - "ja"
              - "ru"
              - "zh"
              - "ko"
              - "es"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
            X-Pages:
              type: "integer"
              format: "int32"
              description: "Maximum page number"
              default: 1
        304:
          description: "Not modified"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/unauthorized"
          examples:
            application/json:
              error: "Unauthorized message"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/forbidden"
          examples:
            application/json:
              error: "Forbidden message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      security:
      - evesso:
        - "esi-corporations.read_structures.v1"
      x-alternate-versions:
      - "dev"
      - "latest"
      x-cached-seconds: 3600
      x-required-roles:
      - "Station_Manager"
  /corporations/{corporation_id}/wallets/{division}/journal/:
    get:
      tags:
      - "Wallet"
      summary: "Get corporation wallet journal"
      description: "Retrieve the given corporation's wallet journal for the given\
        \ division going 30 days back\n\n---\nAlternate route: `/dev/corporations/{corporation_id}/wallets/{division}/journal/`\n\
        \nAlternate route: `/latest/corporations/{corporation_id}/wallets/{division}/journal/`\n\
        \n---\nThis route is cached for up to 3600 seconds\n\n---\nRequires one of\
        \ the following EVE corporation role(s): Accountant, Junior_Accountant\n"
      operationId: "get_corporations_corporation_id_wallets_division_journal"
      parameters:
      - name: "corporation_id"
        in: "path"
        description: "An EVE corporation ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CorporationId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        x-exportParamName: "Datasource"
      - name: "division"
        in: "path"
        description: "Wallet key of the division to fetch journals from"
        required: true
        type: "integer"
        maximum: 7
        minimum: 1
        format: "int32"
        x-exportParamName: "Division"
      - name: "If-None-Match"
        in: "header"
        description: "ETag from a previous request. A 304 will be returned if this\
          \ matches the current ETag"
        required: false
        type: "string"
        x-exportParamName: "IfNoneMatch"
      - name: "page"
        in: "query"
        description: "Which page of results to return"
        required: false
        type: "integer"
        default: 1
        minimum: 1
        format: "int32"
        x-exportParamName: "Page"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
      responses:
        200:
          description: "Journal entries"
          schema:
            type: "array"
            description: "Journal entries"
            title: "get_corporations_corporation_id_wallets_division_journal_ok"
            items:
              $ref: "#/definitions/get_corporations_corporation_id_wallets_division_journal_200_ok"
            maxItems: 2500
          examples:
            application/json:
            - amount: -1000
              balance: 100000.0
              context_id: 2112625428
              context_id_type: "character_id"
              date: "2016-10-24T09:00:00Z"
              description: "CCP Zoetrope transferred cash from C C P's corporate account\
                \ to CCP SnowedIn's account"
              first_party_id: 109299958
              id: 1234567890
              ref_type: "corporation_account_withdrawal"
              second_party_id: 95538921
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
            X-Pages:
              type: "integer"
              format: "int32"
              description: "Maximum page number"
              default: 1
        304:
          description: "Not modified"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/unauthorized"
          examples:
            application/json:
              error: "Unauthorized message"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/forbidden"
          examples:
            application/json:
              error: "Forbidden message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      security:
      - evesso:
        - "esi-wallet.read_corporation_wallets.v1"
      x-alternate-versions:
      - "dev"
      - "latest"
      x-cached-seconds: 3600
      x-required-roles:
      - "Accountant"
      - "Junior_Accountant"
  /universe/systems/{system_id}/:
    get:
      tags:
      - "Universe"
      summary: "Get solar system information"
      description: "Get information on a solar system.\n\n---\nAlternate route: `/dev/universe/systems/{system_id}/`\n\
        \nAlternate route: `/latest/universe/systems/{system_id}/`\n\n---\nThis route\
        \ expires daily at 11:05"
      operationId: "get_universe_systems_system_id"
      parameters:
      - name: "Accept-Language"
        in: "header"
        description: "Language to use in the response"
        required: false
        type: "string"
        default: "en"
        enum:
        - "en"
        - "en-us"
        - "de"
        - "fr"
        - "ja"
        - "ru"
        - "zh"
        - "ko"
        - "es"
        x-exportParamName: "AcceptLanguage"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        x-exportParamName: "Datasource"
      - name: "If-None-Match"
        in: "header"
        description: "ETag from a previous request. A 304 will be returned if this\
          \ matches the current ETag"
        required: false
        type: "string"
        x-exportParamName: "IfNoneMatch"
      - name: "language"
        in: "query"
        description: "Language to use in the response, takes precedence over Accept-Language"
        required: false
        type: "string"
        default: "en"
        enum:
        - "en"
        - "en-us"
        - "de"
        - "fr"
        - "ja"
        - "ru"
        - "zh"
        - "ko"
        - "es"
        x-exportParamName: "Language"
      - name: "system_id"
        in: "path"
        description: "system_id integer"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "SystemId"
      responses:
        200:
          description: "Information about a solar system"
          schema:
            $ref: "#/definitions/get_universe_systems_system_id_ok"
          examples:
            application/json:
              constellation_id: 20000001
              name: "Akpivem"
              planets:
              - moons:
                - 40000042
                planet_id: 40000041
              - planet_id: 40000043
              position:
                x: -91174141133075340
                y: 43938227486247170
                z: -56482824383339900
              security_class: "B"
              security_status: 0.8462923765182495
              star_id: 40000040
              stargates:
              - 50000342
              system_id: 30000003
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            Content-Language:
              type: "string"
              description: "The language used in the response"
              enum:
              - "en"
              - "de"
              - "fr"
              - "ja"
              - "ru"
              - "zh"
              - "ko"
              - "es"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        304:
          description: "Not modified"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        404:
          description: "Solar system not found"
          schema:
            $ref: "#/definitions/get_universe_systems_system_id_not_found"
          examples:
            application/json:
              error: "Not found message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      x-alternate-versions:
      - "dev"
      - "latest"
securityDefinitions:
  evesso:
    type: "oauth2"
    authorizationUrl: "https://login.eveonline.com/v2/oauth/authorize"
    flow: "implicit"
    scopes:
      esi-assets.read_assets.v1: "EVE SSO scope esi-assets.read_assets.v1"
      esi-assets.read_corporation_assets.v1: "EVE SSO scope esi-assets.read_corporation_assets.v1"
      esi-calendar.read_calendar_events.v1: "EVE SSO scope esi-calendar.read_calendar_events.v1"
      esi-calendar.respond_calendar_events.v1: "EVE SSO scope esi-calendar.respond_calendar_events.v1"
      esi-characters.read_contacts.v1: "EVE SSO scope esi-characters.read_contacts.v1"
      esi-characters.read_notifications.v1: "EVE SSO scope esi-characters.read_notifications.v1"
      esi-clones.read_clones.v1: "EVE SSO scope esi-clones.read_clones.v1"
      esi-corporations.read_corporation_membership.v1: "EVE SSO scope esi-corporations.read_corporation_membership.v1"
      esi-corporations.read_structures.v1: "EVE SSO scope esi-corporations.read_structures.v1"
      esi-skills.read_skills.v1: "EVE SSO scope esi-skills.read_skills.v1"
      esi-wallet.read_corporation_wallets.v1: "EVE SSO scope esi-wallet.read_corporation_wallets.v1"
definitions:
  bad_request:
    type: "object"
    required:
    - "error"
    properties:
      error:
        type: "string"
        description: "Bad request message"
    title: "Bad request"
    description: "Bad request model"
  error_limited:
    type: "object"
    required:
    - "error"
    properties:
      error:
        type: "string"
        description: "Error limited message"
    title: "Error limited"
    description: "Error limited model"
  forbidden:
    type: "object"
    required:
    - "error"
    properties:
      error:
        type: "string"
        description: "Forbidden message"
      sso_status:
        type: "integer"
        description: "status code received from SSO"
    title: "Forbidden"
    description: "Forbidden model"
  gateway_timeout:
    type: "object"
    required:
    - "error"
    properties:
      error:
        type: "string"
        description: "Gateway timeout message"
      timeout:
        type: "integer"
        description: "number of seconds the request was given"
    title: "Gateway timeout"
    description: "Gateway timeout model"
  internal_server_error:
    type: "object"
    required:
    - "error"
    properties:
      error:
        type: "string"
        description: "Internal server error message"
    title: "Internal server error"
    description: "Internal server error model"
  service_unavailable:
    type: "object"
    required:
    - "error"
    properties:
      error:
        type: "string"
        description: "Service unavailable message"
    title: "Service unavailable"
    description: "Service unavailable model"
  unauthorized:
    type: "object"
    required:
    - "error"
    properties:
      error:
        type: "string"
        description: "Unauthorized message"
    title: "Unauthorized"
    description: "Unauthorized model"
  get_alliances_alliance_id_ok:
    required:
    - "creator_corporation_id"
    - "creator_id"
    - "date_founded"
    - "name"
    - "ticker"
    properties:
      creator_corporation_id:
        type: "integer"
        format: "int32"
        description: "ID of the corporation that created the alliance"
        title: "get_alliances_alliance_id_creator_corporation_id"
      creator_id:
        type: "integer"
        format: "int32"
        description: "ID of the character that created the alliance"
        title: "get_alliances_alliance_id_creator_id"
      date_founded:
        type: "string"
        format: "date-time"
        description: "date_founded string"
        title: "get_alliances_alliance_id_date_founded"
      executor_corporation_id:
        type: "integer"
        format: "int32"
        description: "the executor corporation ID, if this alliance is not closed"
        title: "get_alliances_alliance_id_executor_corporation_id"
      faction_id:
        type: "integer"
        format: "int32"
        description: "Faction ID this alliance is fighting for, if this alliance is\
          \ enlisted in factional warfare"
        title: "get_alliances_alliance_id_faction_id"
      name:
        type: "string"
        description: "the full name of the alliance"
        title: "get_alliances_alliance_id_name"
      ticker:
        type: "string"
        description: "the short name of the alliance"
        title: "get_alliances_alliance_id_ticker"
    description: "200 ok object"
  get_alliances_alliance_id_not_found:
    properties:
      error:
        type: "string"
        description: "Not found message"
        title: "get_alliances_alliance_id_404_not_found"
    description: "Not found"
  get_characters_character_id_assets_200_ok:
    required:
    - "is_singleton"
    - "item_id"
    - "location_flag"
    - "location_id"
    - "location_type"
    - "quantity"
    - "type_id"
    properties:
      is_blueprint_copy:
        type: "boolean"
        description: "is_blueprint_copy boolean"
        title: "get_characters_character_id_assets_is_blueprint_copy"
      is_singleton:
        type: "boolean"
        description: "is_singleton boolean"
        title: "get_characters_character_id_assets_is_singleton"
      item_id:
        type: "integer"
        format: "int64"
        description: "item_id integer"
        title: "get_characters_character_id_assets_item_id"
      location_flag:
        type: "string"
        description: "location_flag string"
        title: "get_characters_character_id_assets_location_flag"
        enum:
        - "AssetSafety"
        - "AutoFit"
        - "BoosterBay"
        - "Cargo"
        - "CorpseBay"
        - "Deliveries"
        - "DroneBay"
        - "FighterBay"
        - "FighterTube0"
        - "FighterTube1"
        - "FighterTube2"
        - "FighterTube3"
        - "FighterTube4"
        - "FleetHangar"
        - "FrigateEscapeBay"
        - "Hangar"
        - "HangarAll"
        - "HiSlot0"
        - "HiSlot1"
        - "HiSlot2"
        - "HiSlot3"
        - "HiSlot4"
        - "HiSlot5"
        - "HiSlot6"
        - "HiSlot7"
        - "HiddenModifiers"
        - "Implant"
        - "LoSlot0"
        - "LoSlot1"
        - "LoSlot2"
        - "LoSlot3"
        - "LoSlot4"
        - "LoSlot5"
        - "LoSlot6"
        - "LoSlot7"
        - "Locked"
        - "MedSlot0"
        - "MedSlot1"
        - "MedSlot2"
        - "MedSlot3"
        - "MedSlot4"
        - "MedSlot5"
        - "MedSlot6"
        - "MedSlot7"
        - "QuafeBay"
        - "RigSlot0"
        - "RigSlot1"
        - "RigSlot2"
        - "RigSlot3"
        - "RigSlot4"
        - "RigSlot5"
        - "RigSlot6"
        - "RigSlot7"
        - "ShipHangar"
        - "Skill"
        - "SpecializedAmmoHold"
        - "SpecializedCommandCenterHold"
        - "SpecializedFuelBay"
        - "SpecializedGasHold"
        - "SpecializedIndustrialShipHold"
        - "SpecializedLargeShipHold"
        - "SpecializedMaterialBay"
        - "SpecializedMediumShipHold"
        - "SpecializedMineralHold"
        - "SpecializedOreHold"
        - "SpecializedPlanetaryCommoditiesHold"
        - "SpecializedSalvageHold"
        - "SpecializedShipHold"
        - "SpecializedSmallShipHold"
        - "SubSystemBay"
        - "SubSystemSlot0"
        - "SubSystemSlot1"
        - "SubSystemSlot2"
        - "SubSystemSlot3"
        - "SubSystemSlot4"
        - "SubSystemSlot5"
        - "SubSystemSlot6"
        - "SubSystemSlot7"
        - "Unlocked"
        - "Wardrobe"
      location_id:
        type: "integer"
        format: "int64"
        description: "location_id integer"
        title: "get_characters_character_id_assets_location_id"
      location_type:
        type: "string"
        description: "location_type string"
        title: "get_characters_character_id_assets_location_type"
        enum:
        - "station"
        - "solar_system"
        - "item"
        - "other"
      quantity:
        type: "integer"
        format: "int32"
        description: "quantity integer"
        title: "get_characters_character_id_assets_quantity"
      type_id:
        type: "integer"
        format: "int32"
        description: "type_id integer"
        title: "get_characters_character_id_assets_type_id"
    description: "200 ok object"
  get_characters_character_id_calendar_event_id_ok:
    required:
    - "date"
    - "duration"
    - "event_id"
    - "importance"
    - "owner_id"
    - "owner_name"
    - "owner_type"
    - "response"
    - "text"
    - "title"
    properties:
      date:
        type: "string"
        format: "date-time"
        description: "date string"
        title: "get_characters_character_id_calendar_event_id_date"
      duration:
        type: "integer"
        format: "int32"
        description: "Length in minutes"
        title: "get_characters_character_id_calendar_event_id_duration"
      event_id:
        type: "integer"
        format: "int32"
        description: "event_id integer"
        title: "get_characters_character_id_calendar_event_id_event_id"
      importance:
        type: "integer"
        format: "int32"
        description: "importance integer"
        title: "get_characters_character_id_calendar_event_id_importance"
      owner_id:
        type: "integer"
        format: "int32"
        description: "owner_id integer"
        title: "get_characters_character_id_calendar_event_id_owner_id"
      owner_name:
        type: "string"
        description: "owner_name string"
        title: "get_characters_character_id_calendar_event_id_owner_name"
      owner_type:
        type: "string"
        description: "owner_type string"
        title: "get_characters_character_id_calendar_event_id_owner_type"
        enum:
        - "eve_server"
        - "corporation"
        - "faction"
        - "character"
        - "alliance"
      response:
        type: "string"
        description: "response string"
        title: "get_characters_character_id_calendar_event_id_response"
      text:
        type: "string"
        description: "text string"
        title: "get_characters_character_id_calendar_event_id_text"
      title:
        type: "string"
        description: "title string"
        title: "get_characters_character_id_calendar_event_id_title"
    description: "Full details of a specific event"
  get_characters_character_id_calendar_event_id_not_found:
    properties:
      error:
        type: "string"
        description: "Not found message"
        title: "get_characters_character_id_calendar_event_id_404_not_found"
    description: "Not found"
  put_characters_character_id_calendar_event_id_response:
    type: "object"
    required:
    - "response"
    properties:
      response:
        type: "string"
        description: "response string"
        title: "put_characters_character_id_calendar_event_id_response_response"
        enum:
        - "accepted"
        - "declined"
        - "tentative"
    title: "put_characters_character_id_calendar_event_id_response"
    description: "response object"
  get_characters_character_id_clones_home_location:
    properties:
      location_id:
        type: "integer"
        format: "int64"
        description: "location_id integer"
        title: "get_characters_character_id_clones_location_id"
      location_type:
        type: "string"
        description: "location_type string"
        title: "get_characters_character_id_clones_location_type"
        enum:
        - "station"
        - "structure"
    description: "home_location object"
  get_characters_character_id_clones_jump_clone:
    required:
    - "implants"
    - "jump_clone_id"
    - "location_id"
    - "location_type"
    properties:
      implants:
        type: "array"
        description: "implants array"
        title: "get_characters_character_id_clones_implants"
        items:
          type: "integer"
          format: "int32"
          description: "implant integer"
          title: "get_characters_character_id_clones_implant"
        maxItems: 64
      jump_clone_id:
        type: "integer"
        format: "int32"
        description: "jump_clone_id integer"
        title: "get_characters_character_id_clones_jump_clone_id"
      location_id:
        type: "integer"
        format: "int64"
        description: "location_id integer"
        title: "get_characters_character_id_clones_jump_clone_location_id"
      location_type:
        type: "string"
        description: "location_type string"
        title: "get_characters_character_id_clones_jump_clone_location_type"
        enum:
        - "station"
        - "structure"
      name:
        type: "string"
        description: "name string"
        title: "get_characters_character_id_clones_name"
    description: "jump_clone object"
  get_characters_character_id_clones_ok:
    required:
    - "jump_clones"
    properties:
      home_location:
        $ref: "#/definitions/get_characters_character_id_clones_home_location"
      jump_clones:
        type: "array"
        description: "jump_clones array"
        title: "get_characters_character_id_clones_jump_clones"
        items:
          $ref: "#/definitions/get_characters_character_id_clones_jump_clone"
        maxItems: 64
      last_clone_jump_date:
        type: "string"
        format: "date-time"
        description: "last_clone_jump_date string"
        title: "get_characters_character_id_clones_last_clone_jump_date"
      last_station_change_date:
        type: "string"
        format: "date-time"
        description: "last_station_change_date string"
        title: "get_characters_character_id_clones_last_station_change_date"
    description: "200 ok object"
  get_characters_character_id_notifications_200_ok:
    required:
    - "notification_id"
    - "sender_id"
    - "sender_type"
    - "timestamp"
    - "type"
    properties:
      is_read:
        type: "boolean"
        description: "is_read boolean"
        title: "get_characters_character_id_notifications_is_read"
      notification_id:
        type: "integer"
        format: "int64"
        description: "notification_id integer"
        title: "get_characters_character_id_notifications_notification_id"
      sender_id:
        type: "integer"
        format: "int32"
        description: "sender_id integer"
        title: "get_characters_character_id_notifications_sender_id"
      sender_type:
        type: "string"
        description: "sender_type string"
        title: "get_characters_character_id_notifications_sender_type"
        enum:
        - "character"
        - "corporation"
        - "alliance"
        - "faction"
        - "other"
      text:
        type: "string"
        description: "text string"
        title: "get_characters_character_id_notifications_text"
      timestamp:
        type: "string"
        format: "date-time"
        description: "timestamp string"
        title: "get_characters_character_id_notifications_timestamp"
      type:
        type: "string"
        description: "type string"
        title: "get_characters_character_id_notifications_type"
        enum:
        - "AcceptedAlly"
        - "AcceptedSurrender"
        - "AllAnchoringMsg"
        - "AllMaintenanceBillMsg"
        - "AllStrucInvulnerableMsg"
        - "AllStructVulnerableMsg"
        - "AllWarCorpJoinedAllianceMsg"
        - "AllWarDeclaredMsg"
        - "AllWarInvalidatedMsg"
        - "AllWarRetractedMsg"
        - "AllWarSurrenderMsg"
        - "AllianceCapitalChanged"
        - "AllyContractCancelled"
        - "AllyJoinedWarAggressorMsg"
        - "AllyJoinedWarAllyMsg"
        - "AllyJoinedWarDefenderMsg"
        - "BattlePunishFriendlyFire"
        - "BillOutOfMoneyMsg"
        - "BillPaidCorpAllMsg"
        - "BountyClaimMsg"
        - "BountyESSShared"
        - "BountyESSTaken"
        - "BountyPlacedAlliance"
        - "BountyPlacedChar"
        - "BountyPlacedCorp"
        - "BountyYourBountyClaimed"
        - "BuddyConnectContactAdd"
        - "CharAppAcceptMsg"
        - "CharAppRejectMsg"
        - "CharAppWithdrawMsg"
        - "CharLeftCorpMsg"
        - "CharMedalMsg"
        - "CharTerminationMsg"
        - "CloneActivationMsg"
        - "CloneActivationMsg2"
        - "CloneMovedMsg"
        - "CloneRevokedMsg1"
        - "CloneRevokedMsg2"
        - "CombatOperationFinished"
        - "ContactAdd"
        - "ContactEdit"
        - "ContainerPasswordMsg"
        - "CorpAllBillMsg"
        - "CorpAppAcceptMsg"
        - "CorpAppInvitedMsg"
        - "CorpAppNewMsg"
        - "CorpAppRejectCustomMsg"
        - "CorpAppRejectMsg"
        - "CorpDividendMsg"
        - "CorpFriendlyFireDisableTimerCompleted"
        - "CorpFriendlyFireDisableTimerStarted"
        - "CorpFriendlyFireEnableTimerCompleted"
        - "CorpFriendlyFireEnableTimerStarted"
        - "CorpKicked"
        - "CorpLiquidationMsg"
        - "CorpNewCEOMsg"
        - "CorpNewsMsg"
        - "CorpOfficeExpirationMsg"
        - "CorpStructLostMsg"
        - "CorpTaxChangeMsg"
        - "CorpVoteCEORevokedMsg"
        - "CorpVoteMsg"
        - "CorpWarDeclaredMsg"
        - "CorpWarFightingLegalMsg"
        - "CorpWarInvalidatedMsg"
        - "CorpWarRetractedMsg"
        - "CorpWarSurrenderMsg"
        - "CustomsMsg"
        - "DeclareWar"
        - "DistrictAttacked"
        - "DustAppAcceptedMsg"
        - "ESSMainBankLink"
        - "EntosisCaptureStarted"
        - "FWAllianceKickMsg"
        - "FWAllianceWarningMsg"
        - "FWCharKickMsg"
        - "FWCharRankGainMsg"
        - "FWCharRankLossMsg"
        - "FWCharWarningMsg"
        - "FWCorpJoinMsg"
        - "FWCorpKickMsg"
        - "FWCorpLeaveMsg"
        - "FWCorpWarningMsg"
        - "FacWarCorpJoinRequestMsg"
        - "FacWarCorpJoinWithdrawMsg"
        - "FacWarCorpLeaveRequestMsg"
        - "FacWarCorpLeaveWithdrawMsg"
        - "FacWarLPDisqualifiedEvent"
        - "FacWarLPDisqualifiedKill"
        - "FacWarLPPayoutEvent"
        - "FacWarLPPayoutKill"
        - "GameTimeAdded"
        - "GameTimeReceived"
        - "GameTimeSent"
        - "GiftReceived"
        - "IHubDestroyedByBillFailure"
        - "IncursionCompletedMsg"
        - "IndustryOperationFinished"
        - "IndustryTeamAuctionLost"
        - "IndustryTeamAuctionWon"
        - "InfrastructureHubBillAboutToExpire"
        - "InsuranceExpirationMsg"
        - "InsuranceFirstShipMsg"
        - "InsuranceInvalidatedMsg"
        - "InsuranceIssuedMsg"
        - "InsurancePayoutMsg"
        - "JumpCloneDeletedMsg1"
        - "JumpCloneDeletedMsg2"
        - "KillReportFinalBlow"
        - "KillReportVictim"
        - "KillRightAvailable"
        - "KillRightAvailableOpen"
        - "KillRightEarned"
        - "KillRightUnavailable"
        - "KillRightUnavailableOpen"
        - "KillRightUsed"
        - "LocateCharMsg"
        - "MadeWarMutual"
        - "MercOfferedNegotiationMsg"
        - "MissionOfferExpirationMsg"
        - "MissionTimeoutMsg"
        - "MoonminingAutomaticFracture"
        - "MoonminingExtractionCancelled"
        - "MoonminingExtractionFinished"
        - "MoonminingExtractionStarted"
        - "MoonminingLaserFired"
        - "NPCStandingsGained"
        - "NPCStandingsLost"
        - "OfferedSurrender"
        - "OfferedToAlly"
        - "OldLscMessages"
        - "OperationFinished"
        - "OrbitalAttacked"
        - "OrbitalReinforced"
        - "OwnershipTransferred"
        - "ReimbursementMsg"
        - "ResearchMissionAvailableMsg"
        - "RetractsWar"
        - "SeasonalChallengeCompleted"
        - "SovAllClaimAquiredMsg"
        - "SovAllClaimLostMsg"
        - "SovCommandNodeEventStarted"
        - "SovCorpBillLateMsg"
        - "SovCorpClaimFailMsg"
        - "SovDisruptorMsg"
        - "SovStationEnteredFreeport"
        - "SovStructureDestroyed"
        - "SovStructureReinforced"
        - "SovStructureSelfDestructCancel"
        - "SovStructureSelfDestructFinished"
        - "SovStructureSelfDestructRequested"
        - "SovereigntyIHDamageMsg"
        - "SovereigntySBUDamageMsg"
        - "SovereigntyTCUDamageMsg"
        - "StationAggressionMsg1"
        - "StationAggressionMsg2"
        - "StationConquerMsg"
        - "StationServiceDisabled"
        - "StationServiceEnabled"
        - "StationStateChangeMsg"
        - "StoryLineMissionAvailableMsg"
        - "StructureAnchoring"
        - "StructureCourierContractChanged"
        - "StructureDestroyed"
        - "StructureFuelAlert"
        - "StructureItemsDelivered"
        - "StructureItemsMovedToSafety"
        - "StructureLostArmor"
        - "StructureLostShields"
        - "StructureOnline"
        - "StructureServicesOffline"
        - "StructureUnanchoring"
        - "StructureUnderAttack"
        - "StructureWentHighPower"
        - "StructureWentLowPower"
        - "StructuresJobsCancelled"
        - "StructuresJobsPaused"
        - "StructuresReinforcementChanged"
        - "TowerAlertMsg"
        - "TowerResourceAlertMsg"
        - "TransactionReversalMsg"
        - "TutorialMsg"
        - "WarAllyOfferDeclinedMsg"
        - "WarSurrenderDeclinedMsg"
        - "WarSurrenderOfferMsg"
    description: "200 ok object"
  get_characters_character_id_skills_skill:
    required:
    - "active_skill_level"
    - "skill_id"
    - "skillpoints_in_skill"
    - "trained_skill_level"
    properties:
      active_skill_level:
        type: "integer"
        format: "int32"
        description: "active_skill_level integer"
        title: "get_characters_character_id_skills_active_skill_level"
      skill_id:
        type: "integer"
        format: "int32"
        description: "skill_id integer"
        title: "get_characters_character_id_skills_skill_id"
      skillpoints_in_skill:
        type: "integer"
        format: "int64"
        description: "skillpoints_in_skill integer"
        title: "get_characters_character_id_skills_skillpoints_in_skill"
      trained_skill_level:
        type: "integer"
        format: "int32"
        description: "trained_skill_level integer"
        title: "get_characters_character_id_skills_trained_skill_level"
    description: "skill object"
  get_characters_character_id_skills_ok:
    required:
    - "skills"
    - "total_sp"
    properties:
      skills:
        type: "array"
        description: "skills array"
        title: "get_characters_character_id_skills_skills"
        items:
          $ref: "#/definitions/get_characters_character_id_skills_skill"
        maxItems: 1000
      total_sp:
        type: "integer"
        format: "int64"
        description: "total_sp integer"
        title: "get_characters_character_id_skills_total_sp"
      unallocated_sp:
        type: "integer"
        format: "int32"
        description: "Skill points available to be assigned"
        title: "get_characters_character_id_skills_unallocated_sp"
    description: "200 ok object"
  get_corporations_corporation_id_ok:
    required:
    - "ceo_id"
    - "creator_id"
    - "member_count"
    - "name"
    - "tax_rate"
    - "ticker"
    properties:
      alliance_id:
        type: "integer"
        format: "int32"
        description: "ID of the alliance that corporation is a member of, if any"
        title: "get_corporations_corporation_id_alliance_id"
      ceo_id:
        type: "integer"
        format: "int32"
        description: "ceo_id integer"
        title: "get_corporations_corporation_id_ceo_id"
      creator_id:
        type: "integer"
        format: "int32"
        description: "creator_id integer"
        title: "get_corporations_corporation_id_creator_id"
      date_founded:
        type: "string"
        format: "date-time"
        description: "date_founded string"
        title: "get_corporations_corporation_id_date_founded"
      description:
        type: "string"
        description: "description string"
        title: "get_corporations_corporation_id_description"
      faction_id:
        type: "integer"
        format: "int32"
        description: "faction_id integer"
        title: "get_corporations_corporation_id_faction_id"
      home_station_id:
        type: "integer"
        format: "int32"
        description: "home_station_id integer"
        title: "get_corporations_corporation_id_home_station_id"
      member_count:
        type: "integer"
        format: "int32"
        description: "member_count integer"
        title: "get_corporations_corporation_id_member_count"
      name:
        type: "string"
        description: "the full name of the corporation"
        title: "get_corporations_corporation_id_name"
      shares:
        type: "integer"
        format: "int64"
        description: "shares integer"
        title: "get_corporations_corporation_id_shares"
      tax_rate:
        type: "number"
        format: "float"
        description: "tax_rate number"
        title: "get_corporations_corporation_id_tax_rate"
        minimum: 0
        maximum: 1
      ticker:
        type: "string"
        description: "the short name of the corporation"
        title: "get_corporations_corporation_id_ticker"
      url:
        type: "string"
        description: "url string"
        title: "get_corporations_corporation_id_url"
      war_eligible:
        type: "boolean"
        description: "war_eligible boolean"
        title: "get_corporations_corporation_id_war_eligible"
    description: "200 ok object"
  get_corporations_corporation_id_not_found:
    properties:
      error:
        type: "string"
        description: "Not found message"
        title: "get_corporations_corporation_id_404_not_found"
    description: "Not found"
  get_corporations_corporation_id_assets_200_ok:
    required:
    - "is_singleton"
    - "item_id"
    - "location_flag"
    - "location_id"
    - "location_type"
    - "quantity"
    - "type_id"
    properties:
      is_blueprint_copy:
        type: "boolean"
        description: "is_blueprint_copy boolean"
        title: "get_corporations_corporation_id_assets_is_blueprint_copy"
      is_singleton:
        type: "boolean"
        description: "is_singleton boolean"
        title: "get_corporations_corporation_id_assets_is_singleton"
      item_id:
        type: "integer"
        format: "int64"
        description: "item_id integer"
        title: "get_corporations_corporation_id_assets_item_id"
      location_flag:
        type: "string"
        description: "location_flag string"
        title: "get_corporations_corporation_id_assets_location_flag"
        enum:
        - "AssetSafety"
        - "AutoFit"
        - "Bonus"
        - "Booster"
        - "BoosterBay"
        - "Capsule"
        - "Cargo"
        - "CorpDeliveries"
        - "CorpSAG1"
        - "CorpSAG2"
        - "CorpSAG3"
        - "CorpSAG4"
        - "CorpSAG5"
        - "CorpSAG6"
        - "CorpSAG7"
        - "CrateLoot"
        - "Deliveries"
        - "DroneBay"
        - "DustBattle"
        - "DustDatabank"
        - "FighterBay"
        - "FighterTube0"
        - "FighterTube1"
        - "FighterTube2"
        - "FighterTube3"
        - "FighterTube4"
        - "FleetHangar"
        - "FrigateEscapeBay"
        - "Hangar"
        - "HangarAll"
        - "HiSlot0"
        - "HiSlot1"
        - "HiSlot2"
        - "HiSlot3"
        - "HiSlot4"
        - "HiSlot5"
        - "HiSlot6"
        - "HiSlot7"
        - "HiddenModifiers"
        - "Implant"
        - "Impounded"
        - "JunkyardReprocessed"
        - "JunkyardTrashed"
        - "LoSlot0"
        - "LoSlot1"
        - "LoSlot2"
        - "LoSlot3"
        - "LoSlot4"
        - "LoSlot5"
        - "LoSlot6"
        - "LoSlot7"
        - "Locked"
        - "MedSlot0"
        - "MedSlot1"
        - "MedSlot2"
        - "MedSlot3"
        - "MedSlot4"
        - "MedSlot5"
        - "MedSlot6"
        - "MedSlot7"
        - "OfficeFolder"
        - "Pilot"
        - "PlanetSurface"
        - "QuafeBay"
        - "QuantumCoreRoom"
        - "Reward"
        - "RigSlot0"
        - "RigSlot1"
        - "RigSlot2"
        - "RigSlot3"
        - "RigSlot4"
        - "RigSlot5"
        - "RigSlot6"
        - "RigSlot7"
        - "SecondaryStorage"
        - "ServiceSlot0"
        - "ServiceSlot1"
        - "ServiceSlot2"
        - "ServiceSlot3"
        - "ServiceSlot4"
        - "ServiceSlot5"
        - "ServiceSlot6"
        - "ServiceSlot7"
        - "ShipHangar"
        - "ShipOffline"
        - "Skill"
        - "SkillInTraining"
        - "SpecializedAmmoHold"
        - "SpecializedCommandCenterHold"
        - "SpecializedFuelBay"
        - "SpecializedGasHold"
        - "SpecializedIndustrialShipHold"
        - "SpecializedLargeShipHold"
        - "SpecializedMaterialBay"
        - "SpecializedMediumShipHold"
        - "SpecializedMineralHold"
        - "SpecializedOreHold"
        - "SpecializedPlanetaryCommoditiesHold"
        - "SpecializedSalvageHold"
        - "SpecializedShipHold"
        - "SpecializedSmallShipHold"
        - "StructureActive"
        - "StructureFuel"
        - "StructureInactive"
        - "StructureOffline"
        - "SubSystemBay"
        - "SubSystemSlot0"
        - "SubSystemSlot1"
        - "SubSystemSlot2"
        - "SubSystemSlot3"
        - "SubSystemSlot4"
        - "SubSystemSlot5"
        - "SubSystemSlot6"
        - "SubSystemSlot7"
        - "Unlocked"
        - "Wallet"
        - "Wardrobe"
      location_id:
        type: "integer"
        format: "int64"
        description: "location_id integer"
        title: "get_corporations_corporation_id_assets_location_id"
      location_type:
        type: "string"
        description: "location_type string"
        title: "get_corporations_corporation_id_assets_location_type"
        enum:
        - "station"
        - "solar_system"
        - "item"
        - "other"
      quantity:
        type: "integer"
        format: "int32"
        description: "quantity integer"
        title: "get_corporations_corporation_id_assets_quantity"
      type_id:
        type: "integer"
        format: "int32"
        description: "type_id integer"
        title: "get_corporations_corporation_id_assets_type_id"
    description: "200 ok object"
  get_corporations_corporation_id_structures_service:
    required:
[...]
